<template>
  <div class="modal fade" ref="my-modal" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel"
       aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{ attr.name }}</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <small>Menü Adı</small>
              <input type="text" class="form-control" :value="attr.name" id="name" placeholder="">
              <small id="namelHelp" class="form-text text-muted">açıklama burada.</small>
            </div>

            <div class="col-auto">
              <small class="" for="inlineFormInputGroup">Icon</small>
              <div class="input-group mb-2">

                <Multiselect style="flex: 1 1 auto; width: 1%;"
                             v-model="this.$props.attr.iconid"
                             :options="this.iconList"
                             @input="executeLoader"
                             :searchable="true"
                >
                  <!--                  customized multiselelct -->
                  <template v-slot:singlelabel="{ value }">
                    <div class="multiselect-custom-label ">
                      <div class="input-group-prepend mborder">
                        <div class="input-group-mtext">
                          <font-awesome-icon id="selsected-icon" class="" :icon="value.label"
                                             style="color: rgb(66, 82, 110);"></font-awesome-icon>
                        </div>
                      </div>
                      <span>&nbsp;&nbsp;{{ value.label }}</span>
                    </div>
                  </template>
                  <template v-slot:option="{ option  }">
                    <div class=" ">
                      <font-awesome-icon class="" :icon="option.label"></font-awesome-icon>
                      <span>&nbsp;&nbsp;&nbsp;{{ option.label }}</span>
                    </div>
                  </template>
                </Multiselect>
              </div>
            </div>
            <div class="form-group">
              <div class="input-group-prepend">
              </div>
              <small for="exampleInputPassword1">Link</small>
              <input :value="attr.link" type="text" class="form-control" id="exampleInputPassword1">
            </div>
            <div class="col-auto">
              <small class="" for="inlineFormInputGroup">Yetkilendirme</small>
              <div class="input-group mb-2">

                <Multiselect style="flex: 1 1 auto; width: 1%;"
                             v-model="this.$props.attr.roleOrdinal"
                             :options="this.roleList"
                             @input="executeLoader"
                             :searchable="true"
                >


                </Multiselect>
              </div>
            </div>


            <div class="form-check">
              <input type="checkbox" class="form-check-input" id="exampleCheck1">
              <small class="form-check-label" for="exampleCheck1">Check me out</small>
            </div>
          </form>

        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>

import Multiselect from '@vueform/multiselect'
import {defineComponent} from 'vue'

export default defineComponent({
  name: "MenuItemModal",
  components: {
    Multiselect,
  },
  mounted() {
    /*  this.$refs.multiselect.open()*/
  },
  data() {
    return {
      /* value:  this.iconid,
       options:this.iconList*/
    };
  },
  props: {
    iconList: {
      required: true,
      type: Array,
    },
    roleList: {
      required: true,
      type: Array,
    },

    attr: {
      required: false,
      type: Object,
    },

  },

  methods: {
    executeLoader(selectedItems) {//Icon id
      console.info(selectedItems)

    }

  }
})

</script>

<style scoped>
@import '@vueform/multiselect/themes/default.css';

.multiselect-custom-label {
  display: flex;
  align-items: center;

  position: absolute;
  left: 0;
}
</style>