<script>
import {defineComponent} from 'vue'
import {VueDraggableNext} from 'vue-draggable-next'

export default defineComponent({

  components: {
    draggable: VueDraggableNext,
  },
  props: {
    /* to: { type: String, required: true },*/

    title: {type: String, required: true},
    ['attributes']: {type: Array, required: true},
    id: {type: String, required: true},
    cls: {type: String, required: true},
    expanded: {type: String, required: false},

  },
  setup() {

    function log(event) {
      console.log(event)
    }

    function checkMove(evt) {
      console.log('Future index: ' + evt.draggedContext.futureIndex)
      console.log('element: ' + evt.draggedContext.element.name)
    }

    return {

      checkMove,
      log
    }
  }


})

</script>

<template>

  <div class=" nowrap">

    <div type="button" data-toggle="tooltip" data-placement="top" title="Düzenle" class="edit-parent ">
      <font-awesome-icon icon="edit"></font-awesome-icon>
    </div>
    <div type="button" data-toggle="tooltip" data-placement="top" title="Item Ekle" class="add-item">
      <font-awesome-icon icon="add"></font-awesome-icon>
    </div>
    <div class="accordion-button-custom  nowrap " v-text="title" data-bs-toggle="collapse" :data-bs-target="'#'+id"
         :aria-expanded="expanded" :aria-controls="id">

    </div>


    <div :id="id" :class="cls" aria-labelledby="headingOne" data-bs-parent="#accordionMenu">
      <div class="accordion-body">
        <draggable :move="checkMove" @change="checkMove">
          <div v-for="(attribute) in attributes" v-bind:key="attribute" class="link">
       <span class="nowrap">
        <font-awesome-icon :icon="attribute.icon" style="color: rgb(66, 82, 110);"></font-awesome-icon>
        &nbsp;	&nbsp;{{ attribute.name }}
          <slot/>
      </span>
          </div>
        </draggable>
      </div>

    </div>

  </div>


</template>

<style scoped>
::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c9c8c8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ababab;
}

.accordion-button-custom {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  text-align: left;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.link {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-weight: 400;
  user-select: none;
  margin: 0.1em 0;
  padding: 0.7em;
  border-radius: 0.25em;
  height: 1.5em;

  text-decoration: none;
  box-sizing: unset;
  font-size: 14px;

}

.link:hover {
  background-color: var(--sidebar-item-hover);
}

.link.active {
  background-color: var(--sidebar-item-active);
  box-sizing: unset;

}

.link .icon {
  flex-shrink: 0;
  width: 25px;
  margin-right: 10px;
}

.accordion-button:focus {

  box-shadow: 0 0 0 0 !important;
}

.accordion-body {
  padding: 1rem 0.25rem !important;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.edit-parent {
  position: absolute;
  z-index: 100;
  right: 90px;
  padding: 15px 0px 0 0;
  cursor: pointer;
  color: rgb(66, 82, 110);
  transition: color .3s ease-out;
}

.edit-parent:hover {
  color: rgb(98 153 235);
}

.add-item {
  position: absolute;
  z-index: 100;
  right: 130px;
  padding: 15px 0px 0 0;
  cursor: pointer;
  color: rgb(66, 82, 110);
  transition: color .3s ease-out;
}

.add-item:hover {

  color: rgb(98 153 235);
  transition: color .3s ease-out;
}


</style>