<script>
import {computed} from 'vue'
import {useRoute} from 'vue-router'
import {collapsed} from './state'

export default {
  props: {
    /* to: { type: String, required: true },*/

    title: {type: String, required: true},
    ['attributes']: {type: Array, required: true},
    id: {type: String, required: true},
    cls: {type: String, required: true},
    expanded: {type: String, required: false},

  },


  setup(props) {

    const route = useRoute()

    const isActive = computed(() => route.path === props.attributes)

    return {isActive, collapsed}
  },


  methods: {},

  mounted() {
    const parent = document.getElementById('mSidebar');
    const child = document.getElementById('accordionExample')
    checkForScrollSideBar();

    window.addEventListener("resize", function () {
      checkForScrollSideBar();
    })


    const accordionItems = document.querySelectorAll('.accordion-collapse')
    /*const acc = document.getElementById('accordionExample')*/
    accordionItems.forEach((el) => {

      el.addEventListener('shown.bs.collapse', () => {
        checkForScrollSideBar();

      })
    })

    function checkForScrollSideBar() {
      const A = parent.offsetHeight;
      const D = child.offsetHeight + 40;
      const menu = document.querySelectorAll('.collapse.show')[0]
      if (menu) {

        if (D > A) {
          console.warn(menu.id + " Need Scroll")
          menu.style.overflow = "auto";

          menu.style.maxHeight = A.toString() - 150 + "px";
        } else {
          menu.style.overflow = "auto";
          menu.style.maxHeight = A.toString() - 150 + "px";
        }

      }


    }
  }

}


</script>

<template>

  <div class=" ">
    <h2 class="accordion-header" id="headingOne">
      <div class="accordion-button-custom nowrap " v-text="title" type="button" data-bs-toggle="collapse"
           :data-bs-target="'#'+id" :aria-expanded="expanded" :aria-controls="id">

      </div>
    </h2>

    <div :id="id" :class="cls" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
      <div class="accordion-body">
        <router-link v-for="(attribute) in attributes" v-bind:key="attribute" class=" link" :to="attribute.link">
      <span class="nowrap">
        <font-awesome-icon :icon="attribute.icon"></font-awesome-icon>
        &nbsp;	&nbsp;{{ attribute.name }}
          <slot/>
      </span>
        </router-link>
      </div>

    </div>


  </div>


</template>

<style scoped>

::-webkit-scrollbar {
  width: 1px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #c9c8c8;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #a1a1a1;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #ababab;
}


.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.1s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

</style>