<script>
import SidebarLink from './SidebarLink'
import {collapsed, toggleSidebar, sidebarWidth, SIDEBAR_PADDING_TOP} from './state'

export default {
  props: {},
  components: {SidebarLink},
  setup() {

    return {collapsed, toggleSidebar, sidebarWidth, SIDEBAR_PADDING_TOP}
  },
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_ADMIN');
      }
      return false;
    },
    showModeratorBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_MODERATOR');
      }
      return false;
    },
    usermenu() {

      const menuUser = [];
      if (this.showModeratorBoard) {
        const adm = {name: 'Şemtaron ve Pdf', link: '/XmlToPdfView', icon: 'file-pdf'};
        menuUser.push(adm)
      }
      if (this.showModeratorBoard) {
        const mod = {name: 'Xml Düzenleme', link: '/ModifyXml', icon: 'file-code'};
        menuUser.push(mod)
      }
      if (this.showModeratorBoard) {
        const adm = {name: 'Fatura vs. Sorgulama', link: '/CheckStatusAll', icon: 'paste'};
        menuUser.push(adm)
      }
      if (this.showAdminBoard) {
        const mod = {name: 'Red Xml Query Oluşturma', link: '/DenyQuery', icon: 'at'};
        menuUser.push(mod)
      }
      if (this.showModeratorBoard) {
        const mod = {name: 'Zarf İşlemleri', link: '/EnvelopeDownload', icon: 'envelope'};
        menuUser.push(mod)
      }
      if (this.showModeratorBoard) {
        const mod = {name: 'XSLT İşlemleri', link: '/XsltEditor', icon: 'code'};
        menuUser.push(mod)
      }
      if (this.showAdminBoard) {
        const mod = {name: 'Log İşlemleri', link: '/LogViewer', icon: 'file-lines'};
        menuUser.push(mod)
      }
      if (this.showAdminBoard) {
        const mod = {name: 'Rapor İşlemleri', link: '/Report', icon: 'font-awesome'};
        menuUser.push(mod)
      }
      if (this.showAdminBoard) {
        const mod = {name: 'None', link: '/LiveAudio', icon: ''};
        menuUser.push(mod)
      }


      return menuUser;
    },
    operationmenu() {

      const menuOperation = [];
      let adm;
      if (this.currentUser) {
        adm = {name: 'Profil Yönetimi', link: '/profile', icon: 'user'};//TODO change
        menuOperation.push(adm)
      }
      if (this.showAdminBoard) {
        adm = {name: 'Kullanıcı Yönetimi', link: '/UserManagement', icon: 'fingerprint'};
        menuOperation.push(adm)
      }



      return menuOperation;
    },
  },
  methods: {
    logOut() {
      this.$store.dispatch('auth/logout');
      this.$router.push('/login');
    }
  },
  mounted() {

    //const sidebar = document.querySelectorAll('.sidebar')

  }
}


</script>

<template>

  <div id="mSidebar" class="sidebar " :style="{  width: sidebarWidth }">
  <span
      class="collapse-icon dot"
      :class="{ 'rotate-180': collapsed }"
      @click="toggleSidebar"
  >

    <font-awesome-icon :class="{ 'improve-padding': collapsed }" class="toggle-sidebar"
                       icon="angle-left"></font-awesome-icon>

    </span>

    <div v-if="!collapsed" :class="{ 'show-sidebar': !collapsed }" class="accordion" id="accordionExample">


      <SidebarLink v-if="showModeratorBoard" id="menu01" title="İşlemler" :attributes="usermenu"
                   cls="accordion-collapse collapse show" expanded='true'></SidebarLink>
      <SidebarLink v-if="currentUser" id="menu02" title="Yönetim Paneli" :attributes="operationmenu"
                   cls="accordion-collapse collapse " expanded='false'></SidebarLink>


    </div>


    <div class="dropup " style="position: absolute;
    bottom: 10px;">


      <img class="profile-img-card dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false"
           src="@/assets/avatar_2x.png"/>
      <ul class="dark dropdown-menu list-group-flush">
        <li class="" v-if="currentUser">


        </li>
        <li class="" v-if="!currentUser">
          <router-link to="/login" class="dropdown-item">Login</router-link>
        </li>
        <li class="" v-if="!currentUser">
          <router-link to="/register" class="dropdown-item">Signup</router-link>
        </li>
        <li class="" v-if="currentUser">

          <router-link to="/profile" class="dropdown-item list-group-item">Profile <sub>
            {{ currentUser.username }}</sub></router-link>
        </li>


        <li class="" v-if="currentUser">
          <a class="dropdown-item " v-on:click.prevent="logOut()">Logout</a>
        </li>

      </ul>
    </div>
  </div>
</template>


<style scoped>
.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.5s;
}

.fade-enter,
.fade-leave-to {
  opacity: 0;
}

.sidebar {


  float: left;
  position: fixed;
  z-index: 1;
  top: 61px;
  left: 0;
  bottom: 0;
  padding: 0.5em;
  transition: 0.3s ease;
  display: flex;
  flex-direction: column;
  /* box-shadow:  0 -0.2rem 1rem rgb(0 0 0 / 34%) !important*/
}

.sidebar h1 {
  height: 2.5em;
}

.profile-icon {
  position: absolute;
  bottom: 10px;


  color: rgba(255, 255, 255, 0.7);
  transition: 0.2s linear;
}

.rotate-180 {
  transform: rotate(180deg);
  transition: 0.2s linear;
}

.profile-img-card {
  width: 30px;
  height: 30px;
  margin: 0 auto 0px;
  display: block;
  -moz-border-radius: 50%;
  -webkit-border-radius: 50%;
  border-radius: 50%;
  bottom: 10px;
}

.dropdown-item {
  color: rgba(0, 0, 0, 0.55);
}

.dropdown-item:hover, .dropdown-item:focus {
  color: rgba(0, 0, 0, 0.7);
}

.dropdown-item.active, .dropdown-item:active {
  background-color: #1552a717 !important;
  color: rgba(0, 0, 0, 0.7);;
}

.dot {
  height: 25px;
  width: 25px;
  background-color: #FFFFFF;
  border-radius: 50%;
  display: inline-block;
  box-shadow: -1px 0px 0rem 1px rgb(14 17 9 / 9%);
  border: 1px solid #0e0e0e2b;
  cursor: pointer;
}

.dot:hover {
  background-color: #7ecdaa;
}

.improve-padding {
  padding: 2px 1px 3px 0px !important;
}

/* we will explain what these classes do next! */
.fade-enter-active,
.fade-leave-active {
  transition: opacity .75s ease-out;;
}

.fade-enter-from,
.fade-leave-to {
  opacity: 0;
}

.toggle-sidebar {
  padding: 2px 1px 1px 0;
  font-size: 12px;
  color: #24292e;
}

</style>