<template>
  <div class="container">

    <button @click="start">start</button>
    <button @click="reset">reset</button>
    <button @click="finish">finish</button>

    <div   :class="{ colorize: count }" class='rect' id="countdown"></div>
  </div>


</template>

<script>

export default {
  name: 'ModeratorView',
  data() {
    return {

      content: '',
      count: false,
      timer: '',

    };
  },

  mounted() {



  },

  methods:{

    finish(){
      this.count = false;
      window.clearInterval(this.timer);




    },
    reset(){
      this.count = false;
      window.clearInterval(this.timer);
      let x = setTimeout( this.start(), 1000);

      clearTimeout(x);




    },

  start(){

    var timeleft = 10;
    //const counter = document.getElementsByClassName("rect");
    this.count = true;
   this.timer =  window.setInterval(function(){

      if(timeleft <= -1){
        timeleft = 10
      } else {
         document.querySelectorAll('.rect')[0].innerText = timeleft;
       // this.$el.querySelector("#countdown").innerText = timeleft;
        //document.getElementById("countdown").innerHTML = timeleft ;
      }
      timeleft -= 1;
    }, 1000);


  },


  }


};






</script>

<style>
.rect{
  height: 65px;
  width: 65px;
  background-color : #000000;
  color: white;
  font-size: 50px;
  text-align: center;

}
@-webkit-keyframes glow {
  0% { background-color: #4d604a; }
  1% { background-color:#26dd05; }

  100% { background-color:#dd0f05; }

}
@keyframes glow {

  20% { background-color:#26dd05; }
  95% { background-color:#dd0f05; }
  100% { background-color: #0a0a0a; }
}
.colorize{
  -webkit-animation: glow linear 11s infinite;
  animation: glow linear 11s infinite;
}

</style>