<template>
  <div class="container">
    <header class="jumbotron">
      <h3>{{ content }}</h3>


    </header>

    <div>
      <Multiselect
          v-model="value"
          mode="tags"
          :close-on-select="false"
          :searchable="true"
          :create-option="false"
          :options="options"
      />
    </div>
  </div>
</template>

<script>
import UserService from '../services/user.service';
import Multiselect from '@vueform/multiselect'

export default {
  name: 'UserView',
  components: {
    Multiselect,
  },
  data() {
    return {
      content: '',
      value: null,
      options: [],

      /* [
     { value: 'batman', label: 'Batman' },
     { value: 'robin', label: 'Robin' },
     { value: 'joker', label: 'Joker' },
   ]*/
    };
  },
  mounted() {
    UserService.getUserBoard().then(
        response => {
          this.content = response.data;
        },
        error => {
          if(error.response.status===405){
            this.$store.dispatch('auth/logout');
            this.$router.push('/login');
          }
          this.content =
              (error.response && error.response.data && error.response.data.message) ||
              error.message ||
              error.toString();
        }
    );
    UserService.getAllUsers().then(
        response => {
          this.options = response.data;
        },
        error => {
          if(error.response.status===405){
            this.$store.dispatch('auth/logout');
            this.$router.push('/login');
          }
          this.options =
              [
                {value: '', label: error.message, disabled: true}
              ]
        }
    );
  }
};
</script>

<style>
@import '@vueform/multiselect/themes/default.css';


</style>

