<template>
  <div class=" h-100 d-flex align-items-center justify-content-center">
    <h1>Fatura vb. Durum Sorgulama</h1>
  </div>
  <div class=" row ">

    <div class="d-flex align-items-center justify-content-center">

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Seri No: </label>
          <input ref="serialNo" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" ">
          <small id="emailHelp" class="form-text text-muted">Fatura, İrsaliye veya Arşiv Faturası girebilirsin.</small>
        </div>

        <button   type="button" style="font-family: monospace; display: block; margin: 0 auto;  text-align: center" class="btn btn-dark btn-lg "
                @click="checkInvoice">
          Sorgula
        </button>
      </form>


    </div>
    <div v-if="err" class="error-template invoice-panel">
      <h1>
        Oops!</h1>
      <h2>
        {{err.response.statusText}}</h2>
      <div class="error-details">
        Sorry, an error has occured, {{err.message}}
      </div>

    </div>

    <div   class="invoice-panel">
    <div class="accordion " id="accordionInvoice">
      <div v-for="(item, index) in response.invoices" :key="index"  class="accordion-item top-20">
        <h2 class="accordion-header" :id="'HEAD'+item.INVOICESERIALNO">

          <div class="accordion-button-custom nowrap "   type="button" data-bs-toggle="collapse"
               :data-bs-target="'#COL'+item.INVOICESERIALNO" :aria-expanded="index === 0 ? 'true' : 'false'"   :aria-controls="'COL'+item.INVOICESERIALNO">

            <div class="container">
              <div class="row">
                <div class="col invoiceType">{{item.INVOICETYPE}}</div>
                <div class="col"><span class="data">Seri Numara: </span> {{item.INVOICESERIALNO}}</div>
                <div class="col"><span class="data">Fat. Tipi Kodu: </span> {{item.INVOICETYPECODE}}</div>



              </div>
              <div class="row top-20">
                <div class="col"><span class="data">Fat. Profile: </span> {{item.INVOICEPROFILE}}</div>
                <div class="col"><span class="data">Aksiyon Tipi:  </span>{{item.ACTIONTYPE}}</div>
                <div class="col"><span class="data">Aksiyon Tarih: </span> {{item.ACTIONDATE}}</div>

                </div>
              <div class="row top-20">
                <div class="col"><span class="data">Fatura Tarih: </span>  {{item.INVOICEDATE}}</div>

                <div class="col"><span class="data">Fatura Tarih: </span> {{item.INVOICEDATE}}</div>
                <div class="col"><span class="data">Aksiyon Tarih: </span>{{item.ACTIONDATE}}</div>



              </div>
              <div class="row top-20">

                <div class="col"> <span class="data">Fatura UUID: </span>{{item.INVOICEUUID}}</div>
              </div>
            </div>





          </div>
        </h2>
        <div  :id="'COL'+item.INVOICESERIALNO" class="accordion-collapse collapse " :class="index === 0 ? 'show' : ''" :aria-labelledby="'HEAD'+item.INVOICESERIALNO" data-bs-parent="#accordionInvoice">
          <div style="height: auto;"  v-for="(envelope, index) in item.Envelopes" :key="index" class="accordion-body link">
            <div class="container">
            <div class="row ">
              <div class="col"> <span class="data">Zarf UUID: </span>{{envelope.ENVELOPEUUID}}</div>
              <div class="col"> <span class="data">Zarf Türü: </span>{{envelope.ENVELOPETYPE}}</div>
              <div class="col"> <span class="data">Zarf Statu: </span>{{envelope.ENVELOPESTATUS}}</div>



            </div>
              <div class="row top-20">

                <div class="col"><span class="data">Statu Açıklama: </span> {{envelope.STATUSDESC}}</div>
                <div class="col"><span class="data">Zarf Oluş.Tar. : </span> {{envelope.CREATIONDATETIME}}</div>
                <div class="col"><span class="data">Son İşlem Tarih: </span> {{envelope.UPDATEDATE}}</div>


              </div>
              <div class="row top-20">

                <div class="col"><span class="data">Alıcı Ünvan: </span> {{envelope.RECEIVERTITLE}}</div>
                <div class="col"><span class="data">Alıcı vkn: </span> {{envelope.RECEIVERVKNTCKN}}</div>



              </div>
              <div class="row top-20">

                <div class="col"><span class="data">Gönderen Ünvan: </span> {{envelope.SENDERTITLE}}</div>
                <div class="col"><span class="data">Gönderen vkn: </span> {{envelope.SENDERVKNTCKN}}</div>



              </div>
            </div>
          </div>
        </div>
      </div>


    </div>
    </div>
  </div>

  <div class="spinner-grow spinner  " v-bind:style="[isLoading?{ 'display': 'block'  } : { 'display': 'none' }]"  role="status">
    <span class="visually-hidden">Loading...</span>
  </div>


</template>

<script>

import InvoiceService from "@/services/invoiceService";
import UserService from "@/services/user.service";

export default {
  name: "CheckStatusAll",

  data(){
    return{
      //
      serialNo: '',
      response : [],
      err: '',
      isLoading: false,


    }
  },

  mounted() {
    UserService.CheckToken().then(
        response => {
          this.content = response.data;
        },
        error => {
          if(error.response.status===401){
            this.$store.dispatch('auth/logout');
            this.$router.push('/login');
          }
        }
    );

  },

  methods: {
    checkInvoice(){
      this.response = '';
      this.err = '';
      this.isLoading = true;
     const inputVal = this.$refs.serialNo.value
      //const formData = {"data:"+inputVal};
      const json = {};
      json.data = inputVal;

      InvoiceService.CheckInvoiceStatus(json).then(
          response => {
            this.response = response.data
            this.err = '';
            this.isLoading = false;

          },
          error => {
            if(error.response.status===405){
              this.$store.dispatch('auth/logout');
              this.$router.push('/login');
            }
            this.response = '';
            this.err =error
            this.isLoading = false;

          },
      );







    }
  }

}



</script>

<style scoped>
.invoice-panel{
  max-width: 80vw;
  margin: auto;
  padding-top: 30px;
}
.invoiceType{
  color: #4abb8a;
  font-size: 17px;
}
.top-20{
  margin-top: 30px;
}

.data{
  color: #4abb8a;
}
.dark .spinner-grow.text-light.display{
  display: none;
}
.spinner-grow.text-dark.display{
  display: none;

}

.dark .spinner {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}
.spinner {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  position: absolute;
  left: 50%;
  top: 49%;
}


</style>