      <template>
        <div class=" h-100 d-flex align-items-center justify-content-center">
          <h1>RED QUERY OLUŞTUR</h1>
        </div>


        <div class="d-flex align-items-center justify-content-center">

          <form>
            <div class="form-group">

              <div class="btn-group" role="group" aria-label="Basic mixed styles example">

              <button type="button"   class="mbtn btn btn-primary btn-lg "
                      @click="$refs.xmlfile.click()">
                Dosya Seçiniz
              </button>
                <button ref="upload-xml"  type="button" :disabled="loaded" class="mbtn btn  btn-warning btn-lg "
                        @click="sendDenyXmlToServer" >
                  yükle
                </button>


              </div>
            </div>
            <input type="file" ref="xmlfile" style="display: none" accept=".xml" @change="handleFileChange" />


          </form>



          <div>

          </div>


        </div>
        <div class="d-flex align-items-center justify-content-center">
          <small style="display: list-item" v-if="fld" v-html="fld">   </small>



        </div>
        <div style="margin-left: 15px">

          <small  v-for="(msg, index) in message" :key="index" class="top-20" style="display: list-item" v-html="msg"></small>
        </div>
      </template>

      <script>

      import InvoiceService from "@/services/invoiceService";
      import UserService from "@/services/user.service";






      export default {
        name: "DenyQuery",

        data(){
          return{
            fld: '',
            items: [],
            loaded: true,
            shopId: this.createShopId(),

            message: [],
            context: undefined,
            scriptProcessorNode: '',
            gainNode: '',
            b: false,
            audio : new Audio(),
            promise: '',
            data: '',

          }
        },

        created() {

          UserService.CheckToken().then(
              response => {
                this.content = response.data;
              },
              error => {
                if(error.response.status===401){
                  this.$store.dispatch('auth/logout');
                  this.$router.push('/login');
                }
              }
          );


          this.initWebSocket()
        },

        unmounted() {
          this.websocketclose();
        },

        methods:{



          createShopId(){
            if(this.shopId===undefined){
              return (Math.random()*(999-100+1)+100 | 0);
            }
            return this.shopId

          },


          handleFileChange(e) {
            function byteToSize(bytes) {
              const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB']
              if (bytes === 0) return 'n/a'
              const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)), 10)
              if (i === 0) return ` - ${bytes} ${sizes[i]}`
              return `${(bytes / (1024 ** i)).toFixed(1)} ${sizes[i]}`
            }
            if (e.target.files.length > 0) {
              Object.assign(this.$data, this.$options.data.call(this));
              this.items = e.target.files
              let size =   byteToSize(this.items[0].size)
              this.fld = "  "+ " Dosya Seçildi: " + this.items[0].name + " " + size ;
              this.$emit('input', e.target.files.length)
              this.loaded= false;

            }
            Array.from(this.items).forEach((file) => {
                  const reader = new FileReader();


                  reader.readAsDataURL(file);
                }
            );
          },

          sendDenyXmlToServer(){

            this.message = [];

            Array.from(this.items).forEach((file) => {

              const reader = new FileReader();

              reader.readAsDataURL(file);

              const formData = new FormData();
              formData.append("file", file);
              formData.append("shopId",this.shopId)


                InvoiceService.SendDenyXml(formData).then(
                    response => {
                      const url = window.URL.createObjectURL(new Blob([response.data]));
                      const link = document.createElement("a");
                      link.href = url;
                      link.setAttribute("download", "ApplicationReponse-"+this.items[0].name);
                      document.body.appendChild(link);
                      link.click();
                      link.remove();


                    console.log(response)
                    },
                    error => {
                      if(error.response.status===405){
                        this.$store.dispatch('auth/logout');
                        this.$router.push('/login');
                      }

                    },
                );



            });

          },

          initWebSocket: function () {




            // WebSocket is different from ordinary requests in terms of protocol, WS is equivalent to http, WSS is equivalent to HTTPS
            console.log("shopId: " + this.shopId)
            //this.websock = new WebSocket("ws://"+localhost:8081/websocket/DPS"+this.shopId)
            this.websock = new WebSocket("ws://"+location.hostname+":8081/websocket/DPS"+this.shopId)

            //this.websock = new WebSocket("ws://localhost:8080/websocket/live")
            //this.websock = new WebSocket("ws:225.6.7.8:50005/")
            this.websock.onopen = this.websocketonopen;
            this.websock.onerror = this.websocketonerror;
            this.websock.onmessage = this.websocketonmessage;
            this.websock.onclose = this.websocketclose;
            this.websock.binaryType = "arraybuffer";
          },
          websocketonopen: function () {

            console. log ("WebSocket Connection Successful");
          },
          websocketonerror: function () {
            console. log ("WebSocket connection error");
          },
          websocketonmessage: function (e) {
            this.message.push(e.data);
            this.data = e.data;

          },
          websocketclose: function () {
            console.log("connection closed" );
          },

        },




      }
      </script>

      <style >

      </style>