<template>
  <div class=" h-100 d-flex align-items-center justify-content-center">
    <h1>Gelen fatuayı zarflı şekilde indir</h1>
  </div>

  <div class=" row ">

    <div class="d-flex align-items-center justify-content-center">

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Zarf No: </label>
          <input ref="serialNo" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" ">


          <small id="emailHelp" class="form-text text-muted">Zarf no girilebilir veya text dosyası yüklenebilir. </small>
        </div>

        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
          <button   type="button"   class="mbtn btn  btn-primary btn-lg "
                    @click="downloadEnvelope">
               Zarf İndir
          </button>
          <button  ref="select-xml"  @click="$refs.txtfile.click()" type="button"   class="mbtn btn  btn-secondary btn-lg "
          >
             Toplu Zarf
          </button>
          <button ref="upload-xml"  type="button" :disabled="loaded" class="mbtn btn  btn-warning btn-lg "
                  @click="sendListToServer" >
            Zarf İndir
          </button>


        </div>
        <input type="file" ref="txtfile" style="display: none" accept=".txt" @change="handleFileChange" />
        <div> <small v-if="fld" v-html="fld">   </small></div>

        <div class="btn-group right" role="group" aria-label="Basic example">
          <button  v-for="(type, i) in types" :key="i" type="button"  :value="type"   @click="selectType(type.id,i)" :class="{selected:type.selected}" class="btn btn-sm btn-secondary ">{{type.text}}</button>
        </div>

      </form>


    </div>

    <div v-if="err" class="error-template invoice-panel">
      <h1>
        Oops!</h1>
      <h2>
        {{err.response.statusText}}</h2>
      <div class="error-details">
        Sorry, an error has occured, {{err.message}}
      </div>

    </div>
    <div v-if="notFound" class="error-template invoice-panel">
      <h1>
        Oops!</h1>
      <h2>
        Can not found some envelope</h2>
      <div class="error-details">
        {{notFound}}
      </div>

    </div>

  </div>

  <div class="spinner-grow spinner  " v-bind:style="[isLoading?{ 'display': 'block'  } : { 'display': 'none' }]"  role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</template>

<script>
import envelopeService from "@/services/envelope.service";



export default {
  name: "EnvelopeDownloader",



  data(){
    return{
      envelopeUUID: '',
      response : [],
      err: '',
      isLoading: false,
      fld: '',
      items: [],
      loaded : true,
      notFound: '',
      types:[{id: 0,  text: "yeni zarf", value: "true", order: -1, selected: false},
        {id: 1, text: "orijinal zarf", value: "false", order: -1, selected: true},],
    }
  },

  methods: {

    async  downloadEnvelope(){
      this.response = '';
      this.err = '';
      this.notFound = '';
      this.isLoading = true;
      this.loaded = true;

      const inputVal = this.$refs.serialNo.value
      const json = {};
      json.data = inputVal;

      envelopeService.downloadEnvelope(json).then(
          response => {

            console.log(response.data)

          },
          error => {
            console.log(error)
          }
      )


    },

    selectType(type){
      const btns = this.types
      for (const btn of btns) {
        btn.selected = false;
      }
      const selectedBtn = btns.find(d => d.id === type)
      selectedBtn.selected = true;

    },


    sendListToServer(){
      this.response = '';
      this.err = '';
      this.notFound = '';
      this.loaded = true;
      const T =this.types.find((item) => item.selected === true);

      const item = this.items[0];
      this.isLoading = true;
      const reader = new FileReader();
      reader.readAsDataURL(item);
      const formData = new FormData();
      formData.append("file", item);
      formData.append("edit",T.value)
      envelopeService.downloadEnvelopes(formData).then(
          response => {
            if (response.status === 200) {
              const url = window.URL.createObjectURL(new Blob([response.data]));
              const link = document.createElement("a");
              link.href = url;
              const name =  item.name.split('.').slice(0, -1).join('.')
              link.setAttribute("download", name+".zip");
              document.body.appendChild(link);
              link.click();
              link.remove();
              this.err = '';
              this.isLoading = false;
              this.fld = ''
              if(response.headers["access-control"]!==""){
                this.notFound = response.headers["access-control"];
              }
            }
            if(response.status === 204){
              this.notFound = "Herhangi bir Sonuç Bulunamadı"
              this.response = '';

              this.isLoading = false;
            }


          },
          error => {
            if(error.response.status===405){
              this.$store.dispatch('auth/logout');
              this.$router.push('/login');
            }
            this.response = '';
            this.err =error
            this.isLoading = false;

          })

    },

    handleFileChange(e) {

      function byteToSize(bytes) {
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB']
        if (bytes === 0) return 'n/a'
        const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)), 10)
        if (i === 0) return ` - ${bytes} ${sizes[i]}`
        return `${(bytes / (1024 ** i)).toFixed(1)} ${sizes[i]}`
      }

      // Whenever the file changes, emit the 'input' event with the file data.
      if (e.target.files.length > 0) {
        Object.assign(this.$data, this.$options.data.call(this));
        this.items = e.target.files
        let size =   byteToSize(this.items[0].size)
        this.fld = "  "+ " Dosya Seçildi: " + this.items[0].name + " " + size ;
        this.$emit('input', e.target.files.length)

        this.loaded= false;

      }

    },

  },


}
</script>

<style scoped>
.btn.selected{
  color: #fff;
  background-color: #3c4044;
  border-color: #565e64;
}
.dark .spinner {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}
.spinner {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  position: absolute;
  left: 50%;
  top: 49%;
}
</style>