<template>
  <nav class="navbar  navbar-expand-lg navbar-light  static-top mb-1 nav-shadow">


    <div style=" display: flex">

      <img class="logo" src="@/assets/vue.png"/>
      <a class="navbar-mbrand" style="font-family: monospace;
    " href="/"><span>BootApp</span> <sub>0.1.4</sub></a>

    </div>

    <div class="container">


      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarResponsive"
              aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ms-auto">
<!--          <li style="margin-top: 5px" class="nav-item active">
            <router-link to="/home" class="nav-link">Home</router-link>

          </li>-->

          <!--          <li class="nav-item" v-if="currentUser">

                      <router-link to="/profile" class="nav-link">Profile  [{{currentUser.username}}]</router-link>
                    </li>

                    <li class="nav-item" v-if="showAdminBoard">
                      <router-link to="/admin" class="nav-link">Admin</router-link>


                    </li>
                    <li class="nav-item" v-if="showModeratorBoard">
                      <router-link to="/mod" class="nav-link">mod</router-link>
                    </li>-->
<!--          <li class="nav-item" style=" padding-left: 20px;     margin-top: 10px; ">
            <Toggle :mode="mode" @toggle="$emit('toggle')"/>
          </li>-->
        </ul>
      </div>
    </div>
  </nav>
</template>

<script>
/*import Toggle from '@/components/Toggle'*/

export default {

  props: ['mode'],
  components: {
    /*Toggle*/
  },

  name: "HeaderView",
  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_ADMIN');
      }
      return false;
    },
    showModeratorBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_MODERATOR');
      }
      return false;
    },


  },
  mounted() {

  }
}
</script>

<style scoped>
.navbar-mbrand {
  padding-top: 0.3125rem;
  padding-bottom: 0.3125rem;
  margin-right: 1rem;
  font-size: 1.25rem;
  text-decoration: none;
  white-space: nowrap;
}
</style>