
<template>
  hello
<!--  <div class="spinner-grow spinner  " v-bind:style="[isLoading?{ 'display': 'block'  } : { 'display': 'none' }]"  role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div>

  <split-view direction="horizontal">
    <template #A>

      <v-ace-editor v-if="!notYetLoaded"
          v-model:value="xmlString"
                    @change="handleEditorChange"
                    ref="editor"
          @init="editorInit"
          lang="html"
          theme="monokai"
                    :showSearchBox="true"
                    :search-enabled="true"
          :options="{
        useWorker: false,
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true,
         searchBox: true,

      }"
          style="font-size:15px; height: 100vh; width: 100%; max-height: calc(100vh - 120px);" />

    </template>

    <template #B>
      <embed :src="pdfSource" :key="pdfKey" type="application/pdf" style="height: 100vh; width: 100%; max-height: calc(100vh - 120px);" />

    </template>

  </split-view>

    <div class="footer">




      <div class="btn-group right" style="margin-right: 30px" role="group" aria-label="Basic mixed styles example">

        <button  ref="select-xml"  @click="$refs.txtfile.click()" type="button"   class="mbtn btn  btn-primary btn-lg "
        >
          Xml Seç
        </button>
        <button ref="upload-xml"  type="button" :disabled="notYetLoaded" class="mbtn btn  btn-danger btn-lg "
                @click="UpdateXslt" >
          Güncelle
        </button>
        <button  :disabled="notYetLoaded" type="button"  @click="exportAll" style="font-family: monospace; display: block; margin: 0 auto;  text-align: center" class="btn  btn-success btn-lg "
        >
          Dışa aktar
             </button>
      </div>

      <input type="file" ref="txtfile" style="display: none" accept=".xml" @change="handleFileChange" />
    </div>

  </div>-->



</template>

<script>


/*import {VAceEditor} from 'vue3-ace-editor';
import SplitView from '../Configs/SplitView.vue';

import '../Configs/ace-config.ts';
import 'ace-builds/src-noconflict/theme-chrome';
import InvoiceService from "@/services/invoiceService";
import XmlService from "@/services/xml-service";*/


export default {
  name: "LiveAudio",

/*  data() {
    return {

      xmlString : '',
      isLoading: false,
      notYetLoaded : true,
      item : '',
      pdfSource : '',
      pdfKey: 0,
      exportKey: 1,
      posList: [],
      lastVisitedIndex: '',



    }


  },
  created() {


  },

  unmounted() {

  },

  mounted() {
    window.addEventListener('keydown', this.handleKeyDown);
    window.addEventListener('beforeunload', this.handleBeforeUnload);
  },
  beforeUnmount() {
    window.removeEventListener('keydown', this.handleKeyDown);
    window.removeEventListener('beforeunload', this.handleBeforeUnload);
  },*/

 /* methods:{

    handleKeyDown(event) {
      if (event.ctrlKey && event.key === 'q') {
        event.preventDefault();
        this.handleShortcut(); // Kısayol işlevini çağır
      }
    },
    handleShortcut() {

      let newPos = this.posList[0];

    let currentPos =   this.getScrollPosition();
      const index = this.posList.findIndex(item => item === currentPos);
      if (index !== -1) {
        console.log(`Değerin indexi: ${index}`);
        if(this.posList.length-1>index){//sonrakine git
          newPos = this.posList[index+1];
        }

        this.setScrollPosition(newPos)
      } else {
        console.log("Değer bulunamadı");
        this.setScrollPosition(newPos)
      }



    },
    handleBeforeUnload(event) {
      // Eğer yapılacak bir işlem varsa, kullanıcıya bir onay iletişiği gösterin
      event.preventDefault();
      event.returnValue = ''; // Modern tarayıcılarda gerekli olabilir



      // Kullanıcıya bir onay iletişimi göstermek için `return` ifadesini de kullanabilirsiniz
      return 'Sayfadan ayrılmak istediğinize emin misiniz?';
    },

    handleFileChange(e) {

      function byteToSize(bytes) {
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB']
        if (bytes === 0) return 'n/a'
        const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)), 10)
        if (i === 0) return ` - ${bytes} ${sizes[i]}`
        return `${(bytes / (1024 ** i)).toFixed(1)} ${sizes[i]}`
      }
      // Whenever the file changes, emit the 'input' event with the file data.
      if (e.target.files.length > 0) {
        Object.assign(this.$data, this.$options.data.call(this));
        this.items = e.target.files
        let size =   byteToSize(this.items[0].size)
        this.fld = "  "+ " Dosya Seçildi: " + this.items[0].name + " " + size ;
        this.$emit('input', e.target.files.length)
        this.notYetLoaded= false;

      }

      this.getXsltFromXml();

    },

    getXsltFromXml(){
      this.response = '';
      this.err = '';
      this.notFound = '';
      this.item = this.items[0];
      this.isLoading = true;
      const reader = new FileReader();
      reader.readAsDataURL(this.item);
      const formData = new FormData();
      formData.append("file", this.item);
      InvoiceService.getXsltFromXml(formData).then(
          response => {
            const reader = new FileReader();
            reader.onload = () => {
              this.xmlString = reader.result;
            };
            reader.readAsText(response.data);
            //TODO get pdf
            formData.append("type","ii")
            XmlService.SendXmlToServer(formData).then(
                response => {
                  console.log(response)
                  if (response.status === 200) {
                    let link = ((this.on8081()) ? 'http://localhost:8081' : 'http://localhost:3000');
                    /!*Vue.js uygulaması 3000 portunda çalışırken, tarayıcının 3000 portundan değil de
                    8081 portundan sunucuya istek göndermeye çalışıyor. Bunu çözmek için üstteki yöntem kullanıldı.*!/
                    this.pdfSource = link+"/output/"+ response.data;
                  } else {
                    this.pdfSource = "Error pdf"
                  }
                  this.isLoading = false;

                },
                error => {
                  this.response =
                      [
                        {value: '', label: error.message, disabled: true}
                      ]
                },
            );
          },
          error => {
            if(error.response.status===405){
              this.$store.dispatch('auth/logout');
              this.$router.push('/login');
            }
            this.response = '';
            this.err =error
            this.isLoading = false;

          })

    },

    handleEditorChange() {

    let pos =  this.getScrollPosition();
    //TODO get closer tags
      this.posList = this.posList.filter(item => {
        if (typeof item === 'number') {
          // newItem'a 200 birim artı veya eksi olan sayıları filtreler
          return Math.abs(item - pos) > 400;
        } else {
          return true; // Diğer öğeleri geçerli tutar
        }
      });
      if(pos!==0){
        this.posList.push(pos);
      }

      console.log(this.posList)
    },




    SetCheckPoint(){
      console.log(this.getScrollPosition());
      const textToCopy = 'Bu metin clipboarda kopyalanacak';
      this.copyTextToClipboard(textToCopy);
      this.pasteTextToDocument();





    },

    getScrollPosition(){
      const scrollbar = document.querySelector('.ace_scrollbar');
      return scrollbar.scrollTop
    },
    setScrollPosition(pos){
      const scrollbar = document.querySelector('.ace_scrollbar');
      scrollbar.scrollTop = pos;

    },

    async copyTextToClipboard(text) {
      try {
        await navigator.clipboard.writeText(text);
        console.log('Metin clipboard\'a kopyalandı: ', text);
      } catch (error) {
        console.error('Metin kopyalama işlemi başarısız: ', error);
      }
    },

    async pasteTextToDocument() {
  navigator.clipboard.readText().then(pastedText => {
    console.log(pastedText); // Yapıştırılan metni konsola yazdırın
  }).catch(error => {
    console.log('Metin yapıştırma işlemi gerçekleştirilemedi:', error);
  });
},


    UpdateXslt(){

      this.isLoading = true;
      const formData = new FormData();
      formData.append("file", this.item);
      formData.append("xslt",this.xmlString)
      InvoiceService.updateXslt(formData).then(
          response => {

            if (response.status === 200) {
              this.isLoading = false;
              this.pdfKey += 1;
             // let link = ((this.on8081()) ? 'http://localhost:8081' : 'http://localhost:3000');
              /!*Vue.js uygulaması 3000 portunda çalışırken, tarayıcının 3000 portundan değil de
              8081 portundan sunucuya istek göndermeye çalışıyor. Bunu çözmek için üstteki yöntem kullanıldı.*!/
             // this.pdfSource = link+"/output/"+ response.data;
            } else {
              this.pdfSource = "Error pdf"
            }


          },
          error => {
            if(error.response.status===405){
              this.$store.dispatch('auth/logout');
              this.$router.push('/login');
            }
            this.response = '';
            this.err =error
            this.isLoading = false;

          })


    },

    exportAll(){

      this.isLoading = true;
      const formData = new FormData();
      formData.append("file", this.item);
      formData.append("xslt",this.xmlString)
      InvoiceService.exportXsltRelatedData(formData).then(
          response => {

            if (response.status === 200) {
              this.isLoading = false;
              const url = window.URL.createObjectURL(new Blob([response.data]));
              const link = document.createElement("a");
              link.href = url;
              const name =  this.item.name.split('.').slice(0, -1).join('.')
              link.setAttribute("download", name+"-V"+this.exportKey+".zip");
              document.body.appendChild(link);
              link.click();
              link.remove();
              this.err = '';
              this.isLoading = false;
              this.fld = ''
              if(response.headers["access-control"]!==""){
                this.notFound = response.headers["access-control"];
              }
              this.exportKey++;

            } else {
              this.pdfSource = "Error pdf"
            }


          },
          error => {
            if(error.response.status===405){
              this.$store.dispatch('auth/logout');
              this.$router.push('/login');
            }
            this.response = '';
            this.err =error
            this.isLoading = false;

          }
      )




    },

    on8081() {
      return document.location.port !== '3000';
    },

  },*/


/*  components: {
    VAceEditor,SplitView,
  },*/

}
</script>



<style scoped>



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;

}

.dark .footer{
  background: #282828;
}

.ace_content{
  font-size: 15px!important;
}
.dark .spinner {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}
.spinner {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  position: absolute;
  left: 50%;
  top: 49%;
  z-index: 100;
}
</style>