<template>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <div class="actions">
            <div>
              <h2>
                Log işlemleri...</h2>

              <div class="error-details">
                {{ formattedDate }} tarihine ait loglar
              </div>
            </div>

            <div class="form-group">
              <small>Log Adı</small>
              <Multiselect
                           ref="logName"
                           v-model="type"
                           searchable="true"
                           :options="['mea-routing', 'mebitech-ws', 'mebitech-signer-services', 'inbound', 'outbound', 'routing', 'minioSender']"
              ></Multiselect>

            </div>

            <div class="form-group">
              <small>Tarih</small>
              <VueDatePicker v-model="date"
                             ref="date"
                             :format="datePickerFormat"
                             :enable-time-picker="false"

                             @update:modelValue="formatDate"
                             dark >


              </VueDatePicker>

            </div>

            <div class="form-group">
              <small>Log Türü</small>
              <Multiselect style=""
                           ref="logLevel"
                           v-model="level"
                           @change="refreshInputAction"
                           :options="['ERROR', 'WARN']"
              ></Multiselect>

            </div>



            <div class="btn-group" role="group" aria-label="Basic mixed styles example">

              <div class="form-group">
                <button type="button" @click="requestLog"   style="margin-top: 22px;"  class="btn btn-success">Listele</button>
                <button type="button" :disabled="infoJson.length===0"  @click="downloadLog" style="margin-top: 22px;  margin-left: 10px"  class="btn btn-primary">İndir {{infoJson.fileSize}}</button>

              </div>

            </div>

          </div>


        </div>
      </div>
    </div>

  </div>
  <div class="table-container" ref="tableContainer">
    <table  v-if="logJson" class="table">
      <thead>
      <tr>
        <th class= 'text-center align-middle' scope="col"><span  v-if="infoJson">Toplam {{infoJson.total}}</span> Adet {{level}}<span  v-if="infoJson"> Bulundu</span></th>
        <th  class= 'text-center align-middle' scope="col">Benzer... </th>

      </tr>
      </thead>
      <tbody>
      <tr  v-for="(msg, index) in logJson" :key="index">
        <td>{{msg.title }}</td>
        <td>{{msg.count-1 }}</td>

      </tr>

      </tbody>
    </table>
  </div>

  <div v-if="!firstListed" class="logs container">

    <div v-for="(sum, index) in summaryJson" :key="index"  class="container-div">
      <div class="upper-div">
        <button type="button"
                disabled
                style="width: 100%;border-radius: 0;"
                class="btn btn-dark">{{sum.type}}</button>
      </div>
      <div class="lower-divs">
        <div class="lower-div">
          <button type="button" @click="getLogDetail(sum.type,'WARN',sum.date)"
                  :disabled="sum.warn === 0"
                  style="width: 100%;border-radius: 0;"
                  class="btn btn-warning">{{sum.warn}}</button>
        </div>
        <div class="lower-div">
          <button type="button"
                  :disabled="sum.error === 0"
                  style="width: 100%;border-radius: 0;"
                  class="btn btn-danger">{{sum.error}}</button>
        </div>
      </div>
    </div>



  </div>






  <div class="exception" v-if="exception"> <span>{{exception}}</span></div>

  <div class="spinner-grow spinner  " v-bind:style="[loaded?{ 'display': 'block'  } : { 'display': 'none' }]"  role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</template>

<script >
import Multiselect from '@vueform/multiselect';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import LogService from "@/services/logService";


export default {
  name: "LogViewer",

  data(){

      return {
        type: '',
        level: '',
        datePickerFormat: 'yyyy-MM-dd',
        date: null,
        formattedDate: '',
        logJson: '',
        loaded: false,
        infoJson: '',
        exception: '',
        containerHeight: '',
        summaryJson: '',
        firstListed: false,
        selectedDay: '',


    }
  },

  mounted() {
    const yesterday = new Date();
    yesterday.setDate(yesterday.getDate() - 1);
    this.date = yesterday;
    this.formatDate();
    this.updateContainerHeight();
    window.addEventListener('resize', this.updateContainerHeight);
  },

  methods: {
    updateContainerHeight() {
      const tableContainer = this.$refs.tableContainer;
      const precedingElementsHeight = Array.from(tableContainer.previousElementSibling?.parentNode?.childNodes || [])
          .filter(el => el !== tableContainer)
          .reduce((totalHeight, el) => totalHeight + el.offsetHeight, 0);

      this.containerHeight = `calc(100vh - ${precedingElementsHeight}px)`;
    },

    formatDate(newDate) {
      const options = { year: 'numeric', month: 'long', day: 'numeric' };
      if(newDate!=null){
        this.formattedDate = newDate.toLocaleDateString('tr-TR', options); // Türkçe tarih formatı
      }else{
        if(this.date!=null)
        this.formattedDate = this.date.toLocaleDateString('tr-TR', options); // Türkçe tarih formatı
      }

     this.refreshInputAction();
    },

    refreshInputAction(){
      this.$nextTick(() => {
        if (!this.type || !this.level) {
          const formattedDate = this.$dayjs(this.date).format('YYYY-MM-DD');
          this.getCustomSummary(formattedDate);
        }

      });

    },


    downloadLog(){
    },
    getCustomSummary( date) {

      const formData = new FormData();
      formData.append("date", date);

      LogService.requestYesterdayOrCustomLog(formData).then(
          response => {
            this.summaryJson = response.data;
          },
          error => {
            console.log(error)
          }

      )

    },

    requestLog(){
      this.firstListed = true;
      this.loaded= true;
      this.logJson = '';
      this.infoJson= '';
      this.exception= '';
      if(this.valdition()){

        const formData = new FormData();
        formData.append("logdate",this.$dayjs(this.date).format('YYYY-MM-DD HH:mm:ss'));
        formData.append("type", this.type);
        formData.append("level", this.level);
        formData.append("path", this.getRealPath(this.type));

       /* const serializedData = this.serializeFormData(formData);*/

        LogService.requestLog(formData).then(
            response => {
            this.logJson = response.data.data;
            this.infoJson = response.data.info[0];
              this.loaded= false;

            },
            error => {
              console.log(error)
              if(error.response.status===404){
                this.exception = this.formattedDate+" tarihine ait " + this.type + " logu bulunamadı !"
              }
              this.loaded= false;

            },
        );







      }else{
        this.loaded= false;
      }

    },

    serializeFormData(formData) {
      const serialized = {};

      for (let [key, value] of formData.entries()) {
        serialized[key] = value;
      }

      return JSON.stringify(serialized);
    },

    valdition(){

      if (this.type==="" || this.type==null) {
        alert("Log Adı boş olamaz!");
        return false;
      }
       if (this.level==="" || this.level == null) {
        alert("Log Türü boş olamaz!");
        return false;
      }
       if (this.date==="" || this.date == null) {
        alert("Tarih boş olamaz!");
        return false;
      }
      const today = new Date();
      const selectedDate = new Date(this.date);
      if (selectedDate>today) {
        alert("Tarih değer ileri tarih olamaz!");
        return false;
      }


       return true;

    },
    getRealPath(value) {

      switch (value) {

        case "inbound":

          return "/einvoince-consumers/";

        case "outbound":
          return "/einvoince-consumers/";

        case "routing":
          return "/einvoince-consumers/";

        case "minioSender":
          return "/einvoince-consumers/";

        case "mea-routing":
          return "/mea-consumers/";

        case "mebitech-ws":
          return "/mebitech-ws/";

        case "mebitech-signer-services":
          return "/mebitech-signer/";




      }


      return undefined;
    }
  },
  components: {
    Multiselect,VueDatePicker
  },



}



</script>

<style >
@import '@vueform/multiselect/themes/default.css';


.container-div {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  width: max-content;


}

.upper-div {
  width: 100%;
  border-bottom: 1px solid #ccc;
}

.lower-divs {
  display: flex;

}

.lower-div {
  flex-grow: 1;
  border: 1px solid #ccc;
  margin: 0px;

}

.logs {
  display: flex;
  flex-wrap: wrap; /* Elementlerin sırasıyla aynı satırda olmasını sağlar */
  justify-content: flex-start; /* Elementleri eşit şekilde yayarak yerleştirir */
  margin-top: 25px;
}

.logs > div {
  flex-basis: 25%; /* Her bir div'in genişliğini %25 olarak ayarlar */
  max-width: 25%;
  padding-right: 50px;
  padding-top: 50px;
  box-sizing: border-box; /* Padding değerini toplam genişlik hesabında dahil eder */

}

.text-center {
  text-align: center;
}

.align-middle {
  vertical-align: middle;
}

.multiselect-dropdown {
  max-height: 500px;
}

 tr , td {
  color: #d0d0d0;
  border-width: 1px;
  border-color: #070707;
   background: #272822 !important;
  color: rgba(201, 201, 201, 0.78)
}

 th {
   color: #d0d0d0;
   border-width: 2px;
   border-color: #1c1b1b;
   background: #323232!important;
   color: rgba(201, 201, 201, 0.78)
 }

table{
  background: #242425;
}

.dp__action_select {
  background: #2e7c5a!important;
  height: 35px;
  width: 70px;
  display: block;
  margin: 0 auto;
  text-align: center;
  margin: 7px;

}
.dp__action_select:hover {
  background: #2e7c5a!important;

}
.dp__action_cancel{
  background: #5d6260 !important;
  height: 35px;
  width: 70px;
  display: block;

  text-align: center;


}
.dp__action_cancel:hover {
  background: #5d6260!important;

}
.dp__menu {
  background: #404040;
}
.dp__range_end, .dp__range_start, .dp__active_date{
  background: #2e7c5a;
}
.dp__today {
  border: 1px solid #2e7c5a
}
.dp__pointer {

  color: #bdbdbd;
}

.actions {
  display: flex;
  flex-wrap: nowrap; /* Elementlerin sırasıyla aynı satırda olmasını sağlar */
  justify-content: flex-start; /* Elementleri eşit şekilde yayarak yerleştirir */
  margin-top: 10px;
}



.actions > div {
  flex-grow: 1; /* Her bir elemente maksimum genişlik verir */
  max-width: 250px; /* Her bir elementin maksimum genişliğini ayarlar */
  margin-right: 35px;
}


.dark .multiselect{
  margin: -4px 10px 0px 0px;
}

.multiselect{
  border: none!important;
  box-shadow: none!important;
}

.spinner {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  position: absolute;
  left: 50%;
  top: 49%;
  z-index: 100;
}
.dark .spinner {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}
.exception{
  color: #d58c2a;
  font-size: 18px;
  text-align: center;
  margin-top: 43px;

}

.table-container{
  max-height: 718px;
  overflow-y: auto;
  margin-top: 50px;
}

</style>