<template>
  <div class=" h-100 d-flex align-items-center justify-content-center">
    <h1>Fatura & İrsaliye Modifikasyonu</h1>
  </div>

  <div class=" row ">

    <div class="d-flex align-items-center justify-content-center">

      <form>
        <div class="form-group">
          <label for="exampleInputEmail1">Seri No: </label>
          <input ref="serialNo" type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" ">


          <small id="emailHelp" class="form-text text-muted">Fatura, İrsaliye seri numarası girebilirsin.</small>
        </div>

        <div class="btn-group" role="group" aria-label="Basic mixed styles example">
        <button   type="button"   class="mbtn btn  btn-primary btn-xs "
                  @click="ModifyXml">
           yeni xml
        </button>

          <button   type="button" style="font-family: monospace; display: block; margin: 0 auto;  text-align: center" class="btn  btn-secondary btn-xs "
                     >
            orjinal xml
          </button>
          <button   type="button" data-bs-toggle="modal" data-bs-target="#exampleModal" style="font-family: monospace; display: block; margin: 0 auto;  text-align: center" class="btn  btn-info btn-xs "
          >
            detay ekle
          </button>
          <button  ref="select-xml"  @click="$refs.txtfile.click()" type="button"   class="mbtn btn  btn-secondary btn-xs "
          >
            toplu xml
          </button>
          <button ref="upload-xml"  type="button" :disabled="loaded" class="mbtn btn  btn-warning btn-xs "
                  @click="sendXmlListToServer" >
            yükle
          </button>
        </div>
        <input type="file" ref="txtfile" style="display: none" accept=".txt" @change="handleFileChange" />
        <div> <small v-if="fld" v-html="fld">   </small></div>

      </form>




    </div>

    <div v-if="isDetailed">

      <div>
        <span class="detailed">İkincil Vergi Numarası:  </span>
        <span>{{secondTax}}</span>
      </div>

      <div>
        <span class="detailed">Iban:  </span>
        <span>{{iban}}</span>
      </div>

      <div>
        <span class="detailed">banka:  </span>
        <span>{{bank}}</span>
      </div>

      <div>
        <span class="detailed">Para Birimi:  </span>
        <span>{{currencyCode}}</span>
      </div>

      <div>
        <span class="detailed">Son Ödeme Tarihi:  </span>
        <span>{{paymentDay}}</span>
      </div>

    </div>

    <div v-if="err" class="error-template invoice-panel">
      <h1>
        Oops!</h1>
      <h2>
        {{err.response.statusText}}</h2>
      <div class="error-details">
        Sorry, an error has occured, {{err.message}}
      </div>

    </div>
    <div v-if="notFound" class="error-template invoice-panel">
      <h1>
        Oops!</h1>
      <h2>
        Can not found some serial numbers</h2>
      <div class="error-details">
         {{notFound}}
      </div>

    </div>

  </div>

  <div class="modal fade"  id="exampleModal"  ref="modalRef" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Detay Ekle</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>


            <div class="form-group">
              <small>İkincil Vergi Numarası: </small>
              <input type="text" class="form-control" v-model="this.secondTax"  id="secondaryTax" placeholder="">

            </div>
            <div class="form-group">
              <small>Iban: </small>
              <input type="text" class="form-control" v-model="this.iban"  id="iban" placeholder="">

            </div>
            <div class="form-group">
              <small>banka: </small>
              <input type="text" class="form-control" v-model="this.bank"  id="bank" placeholder="">

            </div>
            <div class="form-group">
              <small>Para Birimi: </small>
              <input type="text" class="form-control" v-model="this.currencyCode"  id="currency" placeholder="">

            </div>
            <div class="form-group">
              <small>Son Ödeme Tarihi: </small>
              <input type="text" class="form-control" v-model="this.paymentDay"  id="paymentDay" placeholder="">

            </div>



          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" @click="this.ApplyContent" data-bs-dismiss="modal"  class="btn btn-primary">Kaydet
          </button>
        </div>
      </div>
    </div>
  </div>

  <div class="spinner-grow spinner  " v-bind:style="[isLoading?{ 'display': 'block'  } : { 'display': 'none' }]"  role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</template>

<script>
import InvoiceService from "@/services/invoiceService";




export default {
  name: "ModifyXml",

  data(){
    return{
      serialNo: '',
      response : [],
      err: '',
      isLoading: false,
      fld: '',
      items: [],
      loaded : true,
      notFound: '',

      //Kamu faturasi harcam birimi
      isDetailed: false,
      iban: '',
      bank: '',
      paymentDay: '',
      secondTax: '',
      currencyCode: '',
      /////////////////////////////




    }
  },

  mounted() {
    const myModalEl = document.getElementById('exampleModal')

    myModalEl.addEventListener('hide.bs.modal', function () {

    });

  },



  methods: {
    async  ModifyXml(){
      this.response = '';
      this.err = '';
      this.notFound = '';
      this.isLoading = true;
      this.loaded = true;

      const inputVal = this.$refs.serialNo.value
     /* const json = {};
      json.data = inputVal;*/

      const formData = new FormData();

      if(this.isDetailed){
        formData.append("paymentDay",this.$dayjs(this.paymentDay).format('YYYY-MM-DD'));
        formData.append("iban", this.iban);
        formData.append("detailed", this.isDetailed);
        formData.append("secondTax", this.secondTax);
        formData.append("bank", this.bank);
        formData.append("CurrencyCode", this.currencyCode);
      }
      formData.append("serialNo", inputVal);



      InvoiceService.ModifyXml(formData).then(
          response => {
            const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement("a");
            link.href = url;
            link.setAttribute("download", inputVal+".xml");
            document.body.appendChild(link);
            link.click();
            link.remove();
            this.err = '';
            this.isLoading = false;
            this.fld = ''

          },
          error => {
            if(error.response.status===405){
              this.$store.dispatch('auth/logout');
            /*  this.$router.push({ name: 'login', query: { redirect:'/ModifyXml' } });*/
              this.$router.push('/login');
            }
            this.response = '';
            this.err =error
            this.isLoading = false;

          },
      );
    },

    sendXmlListToServer(){
      this.response = '';
      this.err = '';
      this.notFound = '';
      this.loaded = true;

      const item = this.items[0];
      this.isLoading = true;
      const reader = new FileReader();
      reader.readAsDataURL(item);
      const formData = new FormData();
      formData.append("file", item);
      InvoiceService.SendXmlList(formData).then(
          response => {
            const url = window.URL.createObjectURL(new Blob([response.data]));
            const link = document.createElement("a");
            link.href = url;
           const name =  item.name.split('.').slice(0, -1).join('.')
            link.setAttribute("download", name+".zip");
            document.body.appendChild(link);
            link.click();
            link.remove();
            this.err = '';
            this.isLoading = false;
            this.fld = ''
            if(response.headers["access-control"]!==""){
              this.notFound = response.headers["access-control"];
            }
          },
          error => {
            if(error.response.status===405){
              this.$store.dispatch('auth/logout');
              this.$router.push('/login');
            }
            this.response = '';
            this.err =error
            this.isLoading = false;

          })

    },

    ApplyContent(){

      if(!this.checkDetailedData()){
        alert("İlgili alanların hepsi dolu olmalı")
        return;
      }





      this.isDetailed =true;
    },

    checkDetailedData(){
      return (this.iban !== '' && this.secondTax !== '' && this.bank !== '' && this.currencyCode !== '' && this.paymentDay !== '');
    },

    handleFileChange(e) {

      function byteToSize(bytes) {
        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB']
        if (bytes === 0) return 'n/a'
        const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)), 10)
        if (i === 0) return ` - ${bytes} ${sizes[i]}`
        return `${(bytes / (1024 ** i)).toFixed(1)} ${sizes[i]}`
      }

      // Whenever the file changes, emit the 'input' event with the file data.
      if (e.target.files.length > 0) {
        Object.assign(this.$data, this.$options.data.call(this));
        this.items = e.target.files
       let size =   byteToSize(this.items[0].size)
        this.fld = "  "+ " Dosya Seçildi: " + this.items[0].name + " " + size ;
        this.$emit('input', e.target.files.length)

        this.loaded= false;

      }

    },
  },



}



</script>

<style scoped>

.detailed{
  color:#0dcaf0;
}
.dark .spinner {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}
.spinner {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  position: absolute;
  left: 50%;
  top: 49%;
}

</style>