<template>


  <div>
    <button type="button" style="float: right; margin-top: 20px" class="btn btn-primary" data-bs-toggle="modal"
            data-bs-target="#exampleModal">
      Add New Account
    </button>
  </div>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Add New Account</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form @submit.prevent="submitData">

            <div class="mb-3">
              <label for="exampleInputName" class="form-label">Name</label>
              <input type="text" v-model="name" class="form-control" id="exampleInputName">

            </div>

            <div class="mb-3">
              <label for="exampleInputEmail1" class="form-label">Email</label>
              <input type="email" v-model="mail" class="form-control" id="exampleInputEmail1"
                     aria-describedby="emailHelp">
              <div id="emailHelp" class="form-text">SubText Here!.</div>
            </div>

            <div class="mb-3">
              <label for="exampleInputPhone" class="form-label">Phone</label>
              <input type="tel" v-model="phone" class="form-control" id="exampleInputPhone">

            </div>
            <div class="modal-footer">
              <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
              <button type="submit" class="btn btn-success">Save</button>

            </div>
          </form>
        </div>

      </div>
    </div>
  </div>
</template>

<script>
export default {

  name: "NewAccount",
  emits: ['add-account'],

  data() {
    return {
      name: '',
      phone: '',
      mail: '',
    };
  },

  methods: {
    submitData() {
      this.$emit(
          'add-account',
          this.name,
          this.phone,
          this.mail
      );
    },
  },
};
</script>

<style>

</style>