<template>
  <HeaderVue></HeaderVue>
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="error-template">
          <h1>
            Oops!</h1>
          <h2>
            404 Not Found</h2>
          <div class="error-details">
            Sorry, an error has occured, Requested page not found!
          </div>
          <div class="error-actions">
            <a href="/home" class="btn btn-secondary btn-md"><span></span>
              Take Me Home </a>
          </div>
        </div>
      </div>
    </div>
  </div>

</template>

<script>


export default {
  name: "NotFound",
  components: {},
}
</script>

<style scoped>

</style>