<template>

  <div class="container">

    <header class="jumbotron">
      <h3>
        <strong>{{ currentUser.username }}</strong> Profile
      </h3>
    </header>
    <p>
      <strong>Token:</strong>
      {{ currentUser.token.substring(0, 20) }} ... {{ currentUser.token.substr(currentUser.token.length - 20) }}
    </p>
    <p>
      <strong>Id:</strong>
      {{ currentUser.id }}
    </p>
    <p>
      <strong>Email:</strong>
      {{ currentUser.email }}
    </p>
    <strong>Authorities:</strong>
    <ul>
      <li v-for="role in currentUser.roles" :key="role">{{ role }}</li>
    </ul>
  </div>
</template>

<script>


import UserService from "@/services/user.service";

export default {
  name: 'ProfileView',

  computed: {
    currentUser() {
      return this.$store.state.auth.user;
    }
  },
  mounted() {
    UserService.CheckToken().then(
        response => {
          this.content = response.data;
        },
        error => {
          if(error.response.status===401){
            this.$store.dispatch('auth/logout');
            this.$router.push('/login');
          }
        }
    );

    if (!this.currentUser) {
      this.$router.push('/login');
    }
  }
};
</script>