<template>






  <div style="width: 100%" class="actions">

        <div class="form-group">


          <small>Issue</small>

          <Multiselect v-model="selectedItem"
                       mode="tags"
                       @open="fetchIssuesOnOpen(1,true)"
                       @change="getIssue(selectedItem)"
                       :options="issueSerachItems"
                       :taggable="true"
                       placeholder="Issue No "
                       @search-change="customSearchMethod"
                       searchable="true">

            <template v-slot:afterlist>
              <div ref="observeTarget"  ></div>
            </template>
          </Multiselect>

        </div>
        <div class="form-group">
          <small>İlgilenen</small>
          <multiselect v-model="selectedEmployeeItem"
                       mode="tags"
                       :options="employeeSerachItems"
                       :taggable="true"
                       placeholder="İlgilenen"
                       searchable="true">
          </Multiselect>
        </div>


        <div class="form-group">
          <small>Firma</small>
          <multiselect v-model="selectedCompanyItem"
                       mode="tags"
                       :options="companySerachItems"
                       :taggable="true"
                       placeholder="Firma ünvanı/vkn"
                       searchable="true">
          </Multiselect>

      </div>

        <div class="form-group">
          <small>Başlangıç Tarihi</small>
          <VueDatePicker v-model="startDay"
                         ref="date"
                         :format="datePickerFormat"
                         :enable-time-picker="false"
                         @update:modelValue="formatDate"
                         dark >


          </VueDatePicker>
        </div>


        <div class="form-group">
          <small>Bitiş Tarihi</small>
          <VueDatePicker v-model="finishDay"
                         ref="date"
                         :format="datePickerFormat"
                         :enable-time-picker="false"

                         @update:modelValue="formatDate"
                         dark >


          </VueDatePicker>
        </div>


    <div  style="margin-bottom: 6px;" class="d-flex align-items-end">


      <div class="dropdown dark me-2 btn-group">
        <button type="button" @click="getReports(1)" class="btn btn-success">Listele</button>

        <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
          İşlem
        </button>
        <ul class="dropdown-menu">
<!--
          <li><a   class="dropdown-item " data-bs-toggle="modal" data-bs-target="#exampleModal"> <font-awesome-icon icon="plus"></font-awesome-icon> Rapor Ekle</a></li>
-->
          <li><a   class="dropdown-item " @click="openModal"> <font-awesome-icon icon="plus"></font-awesome-icon> Rapor Ekle</a></li>
          <li ><a class="dropdown-item" href="#"> <font-awesome-icon icon="remove"></font-awesome-icon> Sil</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a   class="dropdown-item " href="#">Çalışan Yönetimi</a></li>
          <li><a class="dropdown-item" href="#">Firma Yönetimi</a></li>


        </ul>
      </div>
    </div>

  </div>


  <table class="table table-dark">
    <thead>
    <tr  ref="sort">
      <th scope="col"> <input type="checkbox" v-model="selectAll" @change="selectAllRows" /></th>
      <th scope="col" sortable="id">ID    </th>
      <th scope="col" sortable="issue">issue</th>
      <th scope="col">Firma</th>

      <th scope="col">Özet</th>
      <th scope="col" sortable="createDate">Tarih</th>
      <th scope="col"  >İlgilelenler</th>
      <th scope="col">Toplam DK</th>
    </tr>
    </thead>
    <tbody>
    <tr @click="editReport(item.id)" v-for="item in items" :key="item.issue">
      <th   class="small-width" scope="row">
        <input type="checkbox" v-model="selectedRows" :value="item" @change="selectRow(item)" />
      </th>
      <th   :title="item.id" class="small2-width" scope="row">{{ item.id }}</th>
      <th   :title="item.issue" class="limited-width" scope="row">{{ item.issue }}</th>

      <td :title="item.company"  class="middle-width">{{ item.company }}</td>

      <td :title="item.summary" class="limited-width limit_td"><span class="limited-width" >{{ item.summary }}</span></td>
      <td :title="item.ticketDay" class="limited-width limit_td"><span class="limited-width" >{{ item.ticketDay }}</span></td>
      <td>
        <span  v-for="employee in item.employees" :key="employee.id">
           <span>&nbsp; &nbsp;</span>
          <span>{{ employee.name }}</span>  <span class="time_spent"> | {{ employee.time_spent }} DK |</span>
        </span>
      </td>
      <td class="limited-width"><span class="total_time_spent">{{ getTotalTimeSpent(item.employees) }} DK</span></td>
    </tr>

    </tbody>
  </table>



  <nav class="dark" aria-label="Page navigation example">
    <ul class="pagination justify-content-center">
      <li class="page-item" :class="{ 'disabled': currentPage === 1 }">
        <a class="page-link" href="#" @click="changePage(currentPage - 1)" tabindex="-1">Previous</a>
      </li>
      <li class="page-item" v-for="page in total" :key="page" :class="{ 'active': currentPage === page }">
        <a class="page-link" href="#" @click="changePage(page)">{{ page }}</a>
      </li>
      <li class="page-item" :class="{ 'disabled': currentPage === total }">
        <a class="page-link" href="#" @click="changePage(currentPage + 1)">Next</a>
      </li>
      <span class="right">&nbsp; Toplam : &nbsp;{{ this.size }}</span>
    </ul>

  </nav>

  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" :class="{ 'show': modalOpen }" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Rapor Ekle/Düzenle</h5>
          <button   @click="closeModal" type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>
            <input type="text" style="display:none"  class="form-control" ref="reportIdField"  v-model="reportId"  id="id" placeholder="">

            <div class="form-group">
              <small>Issue</small>
              <input type="text" class="form-control" ref="inputField"  v-model="ticketId" id="name" placeholder="">

            </div>
            <div class="form-group">
              <small>Özet</small>
              <input type="text" class="form-control" ref="inputField"  v-model="summury" id="name" placeholder="">

            </div>

            <div class="form-group">
            <small>Rapor Tarihi</small>
            <VueDatePicker v-model="ticketDay"
                           ref="date"
                           :format="datePickerFormat"
                           :enable-time-picker="false"

                           @update:modelValue="formatDate"
                           dark >


            </VueDatePicker>
            </div>



            <div class="form-group">
              <small>Firma</small>
              <multiselect v-model="selectedCompanyItemModal"
                           :options="companySerachItems"
                           placeholder="Firma ünvanı/vkn"
                           searchable="true">
              </Multiselect>

            </div>
            <div class="form-group">
              <small >İlgilenenler</small>
              <multiselect v-model="selectedEmployeeItemModal"
                           mode="tags"
                           :options="employeeSerachItems"
                           searchable="true"
                           @change="employeeListChange"
                           @clear="clearElements"

                           @deselect="deselectElement"
                           @select="selectItem"
                           placeholder="İlgilenen"
                           >
              </Multiselect>
            </div>
            <div v-if="selectedEmployeeItemModal.length>0" class="form-group" style="display: grid; padding-bottom: 10px;">
              <small >Harcanan Zaman</small>
              <br />
              <div class="time_spent_back"  v-for="empl in selectedEmployeeItemModal" :key="empl">
                <small style="color:#0c9e70">{{findEmployeNameById(empl)}}</small>
                <input type="text" style="margin-left: 14px; margin-right: 14px;" class="form-control" ref="inputField"   id="time" v-model="timeValue[empl]" @input="filterNonNumeric(empl)"  >
                <div class="btn-group" style="float:right" role="group" aria-label="Basic example">
                  <button  v-for="(type,i) in findTimeTypeByLine(empl)" :key="i" type="button"  :value="type.text"   @click="selectType(type.id,empl)" :class="{selected:type.selected}" class="btn btn-sm btn-secondary ">{{type.text}}</button>
                </div>

              </div>
            </div>
          </form>
        </div>
        <div class="modal-footer">
          <button type="button" @click="closeModal" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" @click="saveReport" data-bs-dismiss="modal" class="btn btn-primary">Save changes
          </button>
        </div>
      </div>
    </div>
  </div>


</template>

<script>

import Multiselect from '@vueform/multiselect';
import VueDatePicker from '@vuepic/vue-datepicker';
import '@vuepic/vue-datepicker/dist/main.css'
import ReportService from "@/services/reportService"



export default {
  name: "ReportView",


  data(){
    return{
      datePickerFormat: 'yyyy-MM-dd',
      items: [],
      currentPage: 1,
      pageSize: 20,
      total: 0,
      size: 0,
      issuesSearchPage:1,
      issuesSearchPageTotal:0,
      searchterm: '',
      startDay: null,
      finishDay: null,
      ticketDay:null,

      title: "title",

      issueSerachItems: [],
      employeeSerachItems: [],
      companySerachItems: [],
      selectedItem: [],
      selectedEmployeeItem : [],
      selectedCompanyItem: [],
      selectedRows: [],
      selectAll: false,
      selectedEmployeeItemModal: [],

      timeType:[],
      timeTypes:[],
      timeValue: [],

      reportId: '',
      ticketId: '',
      modalOpen: false,
      prevSelectedEmployeeItemModal: [],
      summury:'',
      sort:'id',
      sortDir:'1',


    }
  },
  computed: {
    totalIssuePages() {
      return Math.ceil(this.total / this.pageSize);
    },
  },


  methods: {

    openModal() {
      this.modalOpen = true;
      this.resetPramaters();

    },
    closeModal() {
      this.modalOpen = false;

    },


    sortableData(column) {
      // Sıralama işlemleri için kullanılabilir
      alert(`Sıralama işlemi yapılacak sütun: ${column}`);
    },

    requestReport(){

      console.log("Issue Nos:" , this.selectedItem)

      console.log("Companies:" , this.selectedCompanyItem)


      console.log("Employess:" , this.selectedEmployeeItem)


      console.log("start day:" , this.startDay)


      console.log("finish day:" , this.finishDay)



    },

    editReport(reportId){

      this.openModal();
      this.reportId = reportId;


      const selectedItem = this.items.find(item => item.id === reportId);
      this.ticketId = selectedItem.issue;
      this.summury = selectedItem.summary;
      this.ticketDay = selectedItem.ticketDay;
      this.timeTypes =  this.getEmployeesByTicketId(this.ticketId,"timeTypes");
      this.createButtons(this.timeTypes);
      this.selectedCompanyItemModal = selectedItem.companyId;
      this.selectedEmployeeItemModal = this.getEmployeesByTicketId(this.ticketId,"employeeId");
      this.timeValue = this.getEmployeesByTicketId(this.ticketId,"timeValues");

    },

    getEmployeesByTicketId(ticketId,type){

      let result = [];
      let timeValues = [];
      let timeTypes = [];

      this.items.forEach(item => {
        if (item.issue === ticketId) {
          item.employees.forEach(employeeId => {

            if(type=="employeeId"){
              result.push(employeeId.id);
            }
            else if (type=="timeValues"){
              timeValues[employeeId.id]= employeeId.time_value
            }
            else if (type=="timeTypes"){
              timeTypes[employeeId.id]= employeeId.time_type
            }
          });
        }
      });
      if(type=="employeeId"){
        return result
      }
      else if (type=="timeValues"){
        return timeValues
      }
      else if (type=="timeTypes"){
        return timeTypes
      }



    },



    resetPramaters(){
      this.reportId = '';
      this.ticketId = '';
      this.selectedCompanyItemModal= [];
      this.selectedEmployeeItemModal = [];
      this.timeType= [];
    },

    saveReport(){


      if(!this.ValidateString(this.ticketId)){
        alert("check ticketId value")
        return;
      }
      if(!this.ValidateString(this.selectedCompanyItemModal)){
        alert("check Company value")
        return;
      }


      //Start Loading Spinner


      const formData = new FormData();
      formData.append("reportId", this.reportId);
      formData.append("ticketId",this.ticketId)
      formData.append("companyId",this.selectedCompanyItemModal)
      formData.append("ticketDay",this.ticketDay)
      formData.append("summury",this.summury)

      const employeeDetails = [];
      this.selectedEmployeeItemModal.forEach(employee => {
        const additionalParams = {
          employeeId: employee,
          timeType: this.findTimeTypeByResult(employee),
          timeValue: this.timeValue[employee]
        };
        employeeDetails.push(additionalParams);
      });
      formData.append('employeeDetail', JSON.stringify(employeeDetails));

      ReportService.saveReport(formData)
          .then(response => {

            if (response.status !== 200) {
              throw new Error('HTTP Hata, durum kodu: ' + response.status);
            }
            this.closeModal();
            this.getReports(this.currentPage);


          })
          .then(data => {
            console.log(data); // Alınan veri
            // İşlemler devam edebilir
          })
          .catch(error => {
            alert(error.response.data)
          });


    },

    clearElements(){
      this.timeType=[];
      this.timeValue=[];

    },

    deselectElement(removedItem){
      console.log("deselected item " + removedItem);

      const updatedTimeTypes = this.timeType.filter(innerArray => {
        return !innerArray.some(item => item.line === removedItem);
      });

      this.timeType=[];

      updatedTimeTypes.forEach(item => {
        this.timeType.push(item)
      });




        console.log("timeTypes: ", this.timeType);



    },

    selectItem(addedItem){
      console.log("selected item " + addedItem)
      if(addedItem!= undefined){
        this.timeType.push( [{id: 0, line: addedItem, text: "Dakika", value: "m", order: -1, selected: true},
          {id: 1,line: addedItem, text: "Saat", value: "h", order: -1, selected: false},
          {id: 2,line: addedItem,text: "Gün", value: "d", order: -1, selected: false}]);
      }
    },

    createButtons(timeTypes) {
      if (timeTypes.length > 0) {
        const keys = Object.keys(timeTypes).map(Number);
        keys.forEach(key => {
          this.timeType.push([
            {id: 0, line: key, text: "Dakika", value: "m", order: -1, selected: timeTypes[key] === "m"},
            {id: 1, line: key, text: "Saat", value: "h", order: -1, selected: timeTypes[key] === "h"},
            {id: 2, line: key, text: "Gün", value: "d", order: -1, selected: timeTypes[key] === "d"}
          ]);
        });
      }
    },


    selectType(type,index){
      const btns = this.findTimeTypeByLine(index);
      for (const btn of btns) {
        btn.selected = false;
      }
      const selectedBtn = btns.find(d => d.id === type)
      selectedBtn.selected = true;

    },

    filterNonNumeric(emplId) {

      this.timeValue[emplId] = this.timeValue[emplId].replace(/[^\d.]/g, "");
    },



    findTimeTypeByLine(emplId) {

      const result = this.timeType.find(innerArray => {

        return innerArray.some(item => item.line === emplId);
      });



      return result || null;
    },



    findTimeTypeByResult(emplId) {
      const result = this.findTimeTypeByLine(emplId)
      if (result) {
        const selectedItem = result.find(item => item.selected);
        return selectedItem.value;
      } else {
        return null;
      }
    },


    findEmployeNameById(emplId) {

      console.log(this.selectedEmployeeItemModal.length)
      const foundName = this.employeeSerachItems.find(item => item.value === emplId);
      return foundName ? foundName.label : 'Test bulunamadı';
    },

    selectRow(item) {
      // Seçili satırları izleyebilirsiniz
      console.log('Seçilen Ticket: '+item.issue)
      console.log('Seçili satırlar:', this.selectedRows);
      // Seçilen satırları kullanarak işlem yapabilirsiniz
    },

    selectAllRows() {
      if (this.selectAll) {
        this.selectedRows = [...this.items];
      } else {
        this.selectedRows = [];
      }
    },

    getTotalTimeSpent(employees) {
      if(employees!= undefined){
        let totalTime = 0;
        employees.forEach(employee => {
          totalTime += employee.time_spent;
        });
        return totalTime;
      }else{
        return  0;
      }

    },

    customSearchMethod(searchQuery) {
     this.searchterm = searchQuery;
     this.fetchIssuesOnOpen(1,true)
    },

    getIssue(selectedItems) {
      this.selectedItem = selectedItems;
      console.log('Seçilen Değer:', this.selectedItem);
    },


    hasNextPage() {
      return this.issuesSearchPage   <=this.issuesSearchPageTotal
    },


    reachedEndOfList(entries) {
      if (entries[0].isIntersecting) {
        if(this.hasNextPage()){
          this.issuesSearchPage++
          this.fetchIssuesOnOpen(this.issuesSearchPage,false);



        }

      }
    },

    fetchIssuesOnOpen(page, isDropdownOpened){

      if(page==1){
        this.issuesSearchPage =1;
      }

      if(isDropdownOpened){
        this.issueSerachItems = [];
        this.issuesSearchPageTotal= 0;
        this.issuesSearchPage= 1;
      }


      ReportService.getIssues(this.issuesSearchPage,this.searchterm).then(
          response => {
            /*this.issueSerachItems = response.data.content;*/


              this.issueSerachItems.push(...response.data.content);
              this.issuesSearchPageTotal = response.data.page.total;
              this.issuesSearchPage = response.data.page.number;




          },
          error => {
            this.reports = error;
          },
      );
    },






    changePage(page) {

      this.currentPage = page;
      console.log(this.currentPage)
      this.getReports(this.currentPage)

    },

    searchEmployess(){

      ReportService.getEmployess().then(
          response => {
            this.employeeSerachItems = response.data.content;



          },
          error => {

            this.reports = error;
          },
      );


    },

    searchCompnaies(){

      ReportService.searchCompnaies().then(
          response => {
            this.companySerachItems = response.data.content;



          },
          error => {

            this.reports = error;
          },
      );


    },

    getReports(currentPage){

      const formData = new FormData();
      const start = this.$dayjs(this.startDay).format('MM/DD/YYYY');
      const finish = this.$dayjs(this.finishDay).add(1, 'day').format('MM/DD/YYYY');
      formData.append("listId", this.selectedItem);
      formData.append("companies",this.selectedCompanyItem)
      formData.append("employess",this.selectedEmployeeItem)
      formData.append("daterange",start+"-"+finish)
      formData.append("sort",this.sort+"-"+this.sortDir)
      formData.append("p",currentPage)


      ReportService.getReports(formData).then(
          response => {
            const totalRecord = response.data.pop();
            this.items = response.data;
            this.total = totalRecord.total;
            this.size = totalRecord.size;
            this.currentPage = totalRecord.number;


          },
          error => {

            this.reports = error;
          },
      );
    },

    formatDate(newDate) {
      const options = { year: 'numeric', month: 'long', day: 'numeric' };
      if(newDate!=null){
        this.formattedDate = newDate.toLocaleDateString('tr-TR', options); // Türkçe tarih formatı
      }else{
        if(this.date!=null)
          this.formattedDate = this.date.toLocaleDateString('tr-TR', options); // Türkçe tarih formatı
      }

      this.refreshInputAction();
    },

    refreshInputAction(){
      this.$nextTick(() => {
        if (!this.type || !this.level) {
         /* const formattedDate = this.$dayjs(this.date).format('YYYY-MM-DD');
          this.getCustomSummary(formattedDate);*/
        }

      });

    },

    ValidateString(data){

      if(data!= undefined && data!= null && data!=""){
        return true;
      }else{
        return false;
      }

    },

    ValidateArray(data){

      if(data!= undefined && data!= null && data.length>0){
        return true;
      }else{
        return false;
      }

    },

    addDivToSortableColumns() {

      const headers = this.$refs.sort.children;
      const self = this;
      for (let i = 0; i < headers.length; i++) {
        const header = headers[i];
        if (header.getAttribute('sortable') !== null) {
          header.className = 'sort-th';
          const div = document.createElement('div');
          div.className = 'sort-icons';
          let caretUpActive = false;
          let caretDownActive = false;

          div.addEventListener('click', function() {
            const caretUp = div.querySelector('.caret-up');
            const caretDown = div.querySelector('.caret-down');
            const elements = this.ownerDocument.querySelectorAll('.active-cert');
            elements.forEach(element => {
              element.classList.remove('active-cert');
            });


            if (!caretUpActive && !caretDownActive) {
              caretUp.classList.add('active-cert');

              caretUpActive = true;
              caretDownActive = false;
              self.sort = header.getAttribute('sortable');
              self.sortDir= '0';
              self.getReports(self.currentPage)


            } else if (caretUpActive) {

              caretDown.classList.add('active-cert');
              caretUpActive = false;
              caretDownActive = true;
              self.sort = header.getAttribute('sortable');
              self.sortDir= '1';
              self.getReports(self.currentPage)


            } else {

              self.sort = 'id';
              self.sortDir= '1';

              caretUpActive = false;
              caretDownActive = false;
              self.getReports(self.currentPage)

            }
            console.log(this.sort +":" +this.sortDir)
          });

          const caretUp = document.createElement('span');
          caretUp.className = 'multiselect-caret is-open caret-up';
          caretUp.setAttribute('aria-hidden', 'true');
          caretUp.style.display = 'block';
          div.appendChild(caretUp);

          const caretDown = document.createElement('span');
          caretDown.className = 'multiselect-caret caret-down';
          caretDown.setAttribute('aria-hidden', 'true');
          caretDown.style.display = 'block';
          div.appendChild(caretDown);

          header.appendChild(div);
        }
      }
    },




/*      const headers = this.$refs.sort.children;

      for (let i = 0; i < headers.length; i++) {
        const header = headers[i];
        if (header.getAttribute('sortable') !== null) {
          header.className = 'sort-th';
          const div = document.createElement('div');
          div.className = 'sort-icons';
          div.innerHTML = `
  <span class="multiselect-caret is-open caret-up" aria-hidden="true" style="display: block"></span>
  <span class="multiselect-caret caret-down" aria-hidden="true" style="display: block"></span>

`;
          header.appendChild(div);
        }
      }
    },*/

  },


  mounted() {






    const now = new Date(); // Şu anki tarih ve saat bilgisini alır
    const firstDay = new Date(now.getFullYear(), now.getMonth(), 1);
    this.startDay = firstDay;
    this.finishDay= now;
    this.ticketDay = now;
    this.formatDate();


    this.getReports(this.currentPage);

    this.searchEmployess();
    this.searchCompnaies();

     const observer = new IntersectionObserver(this.reachedEndOfList, {
       root: null,
       rootMargin: "5px",
       threshold: 0.5
     });

     observer.observe(this.$refs.observeTarget);
    this.addDivToSortableColumns();

  },

  components: {
    Multiselect,VueDatePicker
  },

}



</script>

<style scoped>

.small-width {
   max-width: 3em;
   overflow: hidden;
   white-space: nowrap;
   text-overflow: ellipsis;
 }
.small2-width {
  max-width: 5em;
  width: 5em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.limited-width {
  max-width: 8em;
  width: 8em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}
.middle-width {
  max-width: 16em;
  width: 16em;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}


.multiselect__content-wrapper /*, .multiselect__element */ {
  width: fit-content;
}

.multiselect__option {
  width: 100%;
}

.time_spent{
  font-family: monospace;
  font-size: 14px;
  color: cadetblue;
}

.total_time_spent{
  font-family: monospace;
  font-size: 15px;
  color: cadetblue;
}
.dark .dropdown-menu.show{
  background: #323232;
}

.dark a.dropdown-item{

  color: #eeeeee;
  margin-top: 7px;
  margin-bottom: 7px;
}


.dark .dropdown-item:hover, .dropdown-item:focus {
  background: #272822;


}


nav.dark li{
  background: #272822;
  color: #eeeeee;
}

nav.dark li a{
  background: #272822;
  border: var(--bs-border-width) solid var(--bs-border-color)!important;
  border-color: #4d4d4d!important;
  color: #eeeeee;
}

.time_spent_back{
  margin-bottom: 17px;
  background: #00000021;
  padding: 7px;
  display: inline-flex;
}

.btn.selected{
  color: #fff;
  background-color: #3c4044;
  border-color: #565e64;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1050;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  outline: 0;
}
/* Modalı görünür yapmak için */
.modal.show {
  display: block;
}

.limit_td{
  max-width: 350px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

tr{
  cursor: pointer;
  background: #272822 !important;

}
tr:hover td {
  background-color: #323232!important; /* Değişmek istediğiniz arka plan rengi */
}

.sort-icons {
  display: flex;
}

tbody th{
  font-size: small;
}
tbody td{
  font-size: small;
}



</style>