<template>
  <div class=" h-100 d-flex align-items-center justify-content-center">
    <h1>XSLT2PDF.</h1>
  </div>
  <div class=" row ">

    <div class="d-flex align-items-center justify-content-center">

      <button @click="open()" type="button" data-bs-toggle="modal" data-bs-target="#exampleModal"
              style="font-family: monospace; border: 5px solid #979ec126;" class="btn btn-dark btn-lg ">
        XSLT BLOB Giriniz
      </button>

    </div>
  </div>

  <div v-if="contents.length>0" style="margin: 15px 0 0 15px">
    <ul ref="xmlList" class=" list-group row list-group-flush">
      <li v-for="(item, index) in contents" :key="index" class="list-group-item ">
        <span role="status" aria-hidden="true"></span>
<!--         <input class="form-check-input" type="checkbox" value="" :id="index" >-->
        <span>&nbsp;&nbsp;{{ item.slice(0, 50) }} </span> <span v-if="item.length>50">... </span>

        <button  @click="remove([index])"  type="button" class="btn btn-danger btn-sm  " style="margin-left: 5px; float: right">
          Sil
        </button>
        <button  @click="edit([index])" data-bs-toggle="modal" data-bs-target="#exampleModal" type="button" class="btn btn-primary btn-sm  " style="margin-left: 5px; float: right">
          Düzenle
        </button>



      </li>
    </ul>
  </div>
  <button v-if="contents.length>0" type="button" @click="sendToServer()" class="btn btn-success btn-sm right "
          style="margin-left: 5px">
    Dönüştür
  </button>

  <!-- Modal -->
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>


            <div class="form-group">
              <small>Blob Xslt...</small>
              <textarea v-model="content" @input="updateTheVariable($event.target.value)" class="form-control" id="contentArea"
                        rows="10"></textarea>
            </div>
            <div class="form-group">
              <small >Belge Türü</small>

              <Multiselect style=""
                  v-model="value"
                  :options="options"


              ></Multiselect>
            </div>
            <div class="form-group">
              <small>UUID</small>
              <input type="text" class="form-control"   id="name" placeholder="">
              <small id="namelHelp" class="form-text text-muted">Fatura veya İrsaliye UUID giriniz.</small>
            </div>

          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" @click="ApplyContent()" data-bs-dismiss="modal" class="btn btn-primary">Save changes
          </button>
        </div>
      </div>
    </div>
  </div>

</template>

<script>
import Multiselect from '@vueform/multiselect'
import UserService from "@/services/user.service";


export default  {
  name: "SchematronChecker",
  components: {
    Multiselect,
  },
  data() {
    return {
      draft: '',
      contents: [],
      content : '',
      value: null,
      options: [
        'Fatura',
        'İrsaliye',

      ]
    }
  },

  mounted() {
    UserService.CheckToken().then(
        response => {
          this.content = response.data;
        },
        error => {
          if(error.response.status===401){
            this.$store.dispatch('auth/logout');
            this.$router.push({ name: 'login', query: { redirect: '/SchematronChecker' } });
          }
        }
    );

  },
  methods: {

    updateTheVariable(value) {
      this.draft = value
    },
    ApplyContent() {
      if (this.contents[this.contents.length - 1] !== this.draft) {
        if (this.draft !== '') {
          this.contents.push(this.draft)
        }
      }
      this.draft = '';
      this.content = ''
    },
    remove(index){
      this.contents.splice(index, 1)
    },
    edit(index){
      this.content = this.contents[index];
    },
    open(){
      this.content = '';
    }
  },
  sendToServer(){
    //first provide xml

    //add xslt blob into xml

    //create multipart file

    //send to server

    //response
  },


}
</script>

<style scoped>
@import '@vueform/multiselect/themes/default.css';

.multiselect-custom-label {
  display: flex;
  align-items: center;

  position: absolute;
  left: 0;
}
</style>