<template>
  <div class="toggle-wrapper">
    <label class="toggle">
      <div class=" icons">
        <img class="" src="@/assets/svg/sun.svg"/>
        <img class="" src="@/assets/svg/moon.svg"/>

      </div>
      <input
          type="checkbox"
          :checked="(mode === 'dark') ? 'checked' : false"
          @change="$emit('toggle')"
      />
      <span class="toggler round"></span>

    </label>


  </div>
</template>

<script>


export default {
  components: {},
  name: "ToggleView",
  props: ['mode']
}
</script>

<style>

.toggle {
  position: relative;
  display: inline-block;
  width: 30px;
  height: 17px;
}

.toggle input {
  opacity: 0;
  width: 0;
  height: 0;
}

.toggler {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #15202B;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.toggler:before {
  position: absolute;
  content: "";
  height: 13px;
  width: 13px;
  left: 2px;
  bottom: 2px;
  background: #FFF;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .toggler {
  background: #9b9b9b;
}

input:focus + toggler {
  box-shadow: 0 0 2px #a1a1a1;
}

input:checked + .toggler:before {
  -webkit-transform: translateX(13px);
  -ms-transform: translateX(13px);
  transform: translateX(13px);
}

.toggler.round {
  border-radius: 17px;
}

.toggler.round:before {
  border-radius: 50%;
}

.toggle .icons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 50%;
  margin: 0 3px;
}

.toggle .icons svg {

  height: 15px;
  width: 15px;
  z-index: 0;

}

.toggle .icons img {
  margin-top: 10px;
  height: 10px;
  width: 10px;
  z-index: 1;
  filter: invert(1);

}

</style>