<template>
  <div class="container">


  <table class="table">
    <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">İsim</th>
      <th scope="col">Email</th>
      <th scope="col">Yetkiler</th>
    </tr>
    </thead>
    <tbody>
    <tr  @click="setData(content.id)"  data-bs-toggle="modal" data-bs-target="#exampleModal" v-for="(content) in contents" v-bind:key="content">
      <th scope="row">{{ content.id }}</th>
      <td>{{ content.name }}</td>
      <td>{{ content.email }}</td>


      <td style="display: flex">
        <div style="padding: 3px" v-for="(role) in content.roles" v-bind:key="role" >
          <span  class="badge bg-success">{{ role }}</span>

      </div>
      </td>
    </tr>


    </tbody>
  </table>
  </div>
  <div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Kullanıcı Ayarları</h5>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <form>


            <div class="form-group">
              <small>Kullanıcı Adı</small>
              <input type="text" class="form-control" v-model="this.modalData.name"  id="name" placeholder="">

            </div>
            <div class="form-group">
              <small>Email</small>
              <input type="text" class="form-control" v-model="this.modalData.email"  id="email" placeholder="">

            </div>
            <div class="form-group">
              <small >Roleller</small>

              <Multiselect style=""
                           mode="tags"
                           v-model="this.modalData.roles"
                           :options="this.modalData.allRoles"


              ></Multiselect>
            </div>


          </form>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
          <button type="submit" @click="this.ApplyContent" data-bs-dismiss="modal" class="btn btn-primary">Save changes
          </button>
        </div>
      </div>
    </div>
  </div>
</template>

<script>
import UserService from "@/services/user.service";
import Multiselect from '@vueform/multiselect'



export default {
  name: "UserManagement",
  components: {
    Multiselect,
  },
  data() {
    return {
      contents: "",
      cont : "",
      modalData: "",
    };
  },

  mounted() {
    UserService.CheckToken().then(
        response => {
          this.content = response.data;
        },
        error => {
          if(error.response.status===401){
            this.$store.dispatch('auth/logout');
            this.$router.push('/login');
          }
        }
    );

    UserService.getAllUsers().then(
        (response) => {
          this.contents = response.data;
        },
        (error) => {
          this.contents =
              (error.response &&
                  error.response.data &&
                  error.response.data.message) ||
              error.message ||
              error.toString();
        }
    );



    const myModalEl = document.getElementById('exampleModal')
    myModalEl.addEventListener('hidden.bs.modal', function () {

    })
  },

  methods: {
    setData(id){

      UserService.getUserRolesOnModal({id: id}).then(
          response => {
            this.modalData = response.data;
          },
          error => {

            this.modalData =
                [
                  {value: '', label: error.message, disabled: true}
                ]
          }
      );

    },

    ApplyContent(){

      UserService.ModifyUserModal({id: this.modalData.id, name: this.modalData.name, email : this.modalData.email, roles: this.modalData.roles.toString() }).then(
          response => {
            this.modalData = response.data;
            window.location.reload();
          },
          error => {

            this.modalData =
                [
                  {value: '', label: error.message, disabled: true}
                ]
          }
      );

    }
  },

}



</script>

<style scoped>

@import '@vueform/multiselect/themes/default.css';

.multiselect-custom-label {
  display: flex;
  align-items: center;

  position: absolute;
  left: 0;
}

.dark th{
  color: #c9c8c8;
}
.dark td{
  color: #c9c8c8;
}

.dark .table{
  color: #c9c8c8;
}
.dark tr{
  border-color: rgba(201, 200, 200, 0.58);
}

tr {
  cursor: pointer;
}

</style>