<template>

  <div class=" h-100 d-flex align-items-center justify-content-center">
    <h2>Şematron Ve PDF İşlemleri</h2>
  </div>
  <div class=" row ">

    <div class="d-flex align-items-center justify-content-center">

      <button type="button" style="font-family: monospace; border: 5px solid #979ec126;" class="mbtn btn btn-primary btn-lg "
              @click="$refs.xmlfile.click()">
        XML Dosya Seçiniz
      </button>
<!--      <button type="button" style="font-family: monospace; border: 5px solid #979ec126;" class="mbtn btn btn-primary btn-lg "
              @click="sendToServer(4)">
        test
      </button>-->
      <label class="">
        <div style="padding-left: 10px" class="">
          <span v-if="fld" v-html="fld"> </span>

        </div>
        <input type="file" ref="xmlfile" style="display: none" accept=".xml,.txt,.csv" @change="handleFileChange" multiple/>
      </label>
    </div>
  </div>



  <div v-if="items" style="margin: 15px 0 0 15px">
    <ul ref="xmlList" class=" list-group row list-group-flush">

      <li v-for="(item, index) in items" :key="index" class="list-group-item ">
        <span role="status" aria-hidden="true"></span>

        <input class="form-check-input" type="checkbox" value="" :id="index" checked>


        [ {{ item.name }} || size : {{ bytesToSize(item.size) }} ]


        <div class="btn-group right" role="group" aria-label="Basic example">
          <button  v-for="(type, i) in types[index]" :key="i" type="button"  :value="type"   @click="selectType(type.id,index)" :class="{selected:type.selected}" class="btn btn-sm btn-secondary ">{{type.text}}</button>
        </div>



<!--        <div v-for="(type, i) in types" :key="i"  class="btn-group right" role="group" aria-label="Basic example">


          <button  type="button" :value="type.value" @click="selectType(type,index,this)" :content="index" class="btn btn-sm btn-secondary " :class="{selected:type.selected}" >{{type.text}}</button>
        </div>-->

        <span v-if="!isOkResponse[index] && isOkResponse[index]!== undefined" class="error-label">  Başarısız </span>



        <div v-for="(value, key, i) in res[index]" :key="i">
          <span style="color: #40b883">{{ key }}</span>
          <div v-for="(val, x) in value" :key="x">

            <span style="color: white">{{ val }}</span>

            </div>

        </div>


        <router-link class="success-label" v-if="isOkResponse[index]  && actionType===1 "
                     :to="sources[index]" target="_blank">
          <span v-if="isOkResponse[index] ">  Başarılı </span>
          <font-awesome-icon icon="eye"></font-awesome-icon>
        </router-link>
<!--        <span v-if="isOkResponse[index] && !on8081() && actionType===1" class="warning-label"> &nbsp;&nbsp; PDF'yi tıklayarak görüntülemek için uygulamayı
            sunucu üzerinden çalıştırın. veya bu adresi tarayıcıya yapıştırın :  <span
              class="link-label">{{ set8081() + '/output/' + sources[index] }}</span></span>-->
        <span v-if="isOkResponse[index] && actionType===2">
        <span class="success-label" >  Başarılı </span>
        <span>{{ sources[index] }}</span>
        </span>
        <div style=" display: inline-block;" v-if="inprogress[index]">
          <div class="spinner-border text-primary" style="height: 15px; width: 15px;"
               role="status">

          </div>
          <span>  {{ shopId }}</span>
        </div>
        <span v-if="isOkResponse[index] && actionType===3">
        <span class="success-label" >  Başarılı  </span> &nbsp;  &nbsp;
        <span>      {{ sources[index] }}</span>
        </span>
        <span v-if="!isOkResponse[index] && actionType===3">
        <span>    &nbsp;  &nbsp;   {{ sources[index] }}</span>
        </span>



      </li>

    </ul>
  </div>


  <div class="btn-group right" role="group"  aria-label="Basic mixed styles example">
<!--    <Multiselect
        v-model="value"
        :options="options"/>-->

    <button v-if="fld" type="button" @click="sendToServer(2)" class="mbtn btn btn-warning btn-lg  ">
      Şematron Kontrolü Yap
    </button>
    <button v-if="fld" type="button" @click="sendToServer(1)" class="mbtn btn btn-success btn-lg  "
    >
      PDF Görüntüle
    </button>
    <button v-if="fld" type="button" @click="SignXml" style="display: none"  class="mbtn btn btn-warning btn-lg  "
    >
      HP-Mail...
    </button>
  <button v-if="fld" type="button"  @click="AddStartToCSV" style="display: none" class="mbtn btn btn-danger btn-lg  "  >
    Custom
  </button>
<!--    //@click="sendEmail"-->
<!--    <button v-if="fld" type="button" @click="sendToServer(3)" class="mbtn btn btn-info btn-lg  "
    >
      İmzala
    </button>-->
<!--    <button v-if="fld" type="button" @click="sendToServer(4)" class="mbtn btn btn-danger btn-lg  "
    >
      İmza Doğrula
    </button>-->
  </div>


  <button v-if="fld" type="button" @click="sendEmail()"
          style="display: none"   class="btn btn-outline-warning btn-sm right ">
    Gönder
  </button>




</template>

<script>


import XmlService from "@/services/xml-service";
import QueueService from "@/services/QueueService";
import UserService from "@/services/user.service";
import InvoiceService from "@/services/invoiceService";




//import Multiselect from '@vueform/multiselect'
export default {
  data() {




    return {
      fld: '',
      items: [
      ],
      previews: [],
      responses: [],
      sources: [],
      isOkResponse: [],
      html: '',
      inprogress: [],
      actionType: '',
      shopId: '',
      responseKeys:[],
      responseValues: [],
      res: [],
      value: "FATURA",


      types:[],




    }


  },
  components: {
   // Multiselect,
  },
  name: "XmlToPdfView",


  created() {
    UserService.CheckToken().then(
        response => {
          this.content = response.data;
        },
        error => {
          if(error.response.status===401){
            this.$store.dispatch('auth/logout');
            this.$router.push('/login');
          }
        }
    );


  },

  unmounted() {

  },

  methods: {

    sleep(milliseconds) {
      return new Promise((resolve) => setTimeout(resolve, milliseconds));
    },



    on8081() {
      return document.location.port !== '3000';
    },

    set8081() {
      return document.location.protocol + "//" + document.location.hostname + ":8081"
    },

    selectType(type,index){
      const btns = this.types[index]
      for (const btn of btns) {
        btn.selected = false;
      }
      const selectedBtn = btns.find(d => d.id === type)
      selectedBtn.selected = true;

    },


    handleFileChange(e) {

      // Whenever the file changes, emit the 'input' event with the file data.
      if (e.target.files.length > 0) {
        Object.assign(this.$data, this.$options.data.call(this));
        this.fld = "  " + e.target.files.length + " Dosya Seçildi";
        this.items = e.target.files
        this.$emit('input', e.target.files.length)

        let i =0;

        for (i ; i < this.items.length; i++) {
          this.types.push( [{id: 0, line: i, text: "invoice", value: "invoice", order: -1, selected: true},
            {id: 1,line: i, text: "dispatch", value: "despatch", order: -1, selected: false},
            {id: 2,line: i,text: "receipt", value: "receiptAdvice", order: -1, selected: false},
            {id: 3,line: i, text: "appResponse", value: "appResponse", order: -1, selected: false}]);
        }
      }






      Array.from(this.items).forEach((file, index) => {
            const reader = new FileReader();
            reader.addEventListener('load', e => this.previews[index] = e.target.result);
            reader.readAsDataURL(file);

          }
      );
    },


    async  SignXml(){
      this.response = [];
      this.sources = [], this.isOkResponse = []


       for (const file of Array.from(this.items)) {
         const formData =new FormData();
        const index = Array.from(this.items).indexOf(file);
        this.inprogress[index] = true;
        const reader = new FileReader();
        reader.addEventListener('load', e => this.previews[index] = e.target.result);
        reader.readAsDataURL(file);
        console.log(file + " Added")
        formData.append("file", file);
         this.actionType = 3
         XmlService.SignXml(formData).then(
             response => {
               console.log(response)
               if (response.data.includes('##OK##')) {
                 this.sources[index] = response.data.slice(6);
                 this.isOkResponse[index] = true;
               } else {
                 this.sources[index] = response.data;
                 this.isOkResponse[index] = false;
               }

               this.inprogress[index] = false;
             },
             error => {
               if (error.response.status === 405) {
                 this.$store.dispatch('auth/logout');
                 this.$router.push('/login');
               }
               this.response =
                   [
                     {value: '', label: error.message, disabled: true}
                   ]
               this.isOkResponse[index] = false;
               this.inprogress[index] = false;
             },
         );

      }




    },


    async sendToServer(type) {
      this.response = [];
      this.sources = [], this.isOkResponse = []
      for (const file of Array.from(this.items)) {
        const index = Array.from(this.items).indexOf(file);
        this.inprogress[index] = true;
        const reader = new FileReader();
        reader.addEventListener('load', e => this.previews[index] = e.target.result);
        reader.readAsDataURL(file);
        //console.log( this.items[index]);
        const T =this.types[index].find((item) => item.selected === true);
        console.log("index: " + index+ " Type: " + T.value)

        const formData = new FormData();
        formData.append("file", file);

        formData.append("type",T.value)

        if (this.previews[index]) {

          if (type == 1) {
            this.actionType = 1
            XmlService.SendXmlToServer(formData).then(
                response => {
                  if (response.status === 200) {
                  /*  let link = ((this.on8081()) ? document.location.hostname+':8081' : document.location.hostname+':3000');*/
                    /*Vue.js uygulaması 3000 portunda çalışırken, tarayıcının 3000 portundan değil de
                    8081 portundan sunucuya istek göndermeye çalışıyor. Bunu çözmek için üstteki yöntem kullanıldı.*/
                    this.sources[index]  = "/output/"+ response.data;
                    this.isOkResponse[index] = true;
                  }else{
                    this.responses[index] = response.data;
                    this.isOkResponse[index] = false;
                  }
                  console.log(response)
                 /* if (response.data.includes('##OK##')) {
                    this.sources[index] = response.data.slice(6);
                    this.isOkResponse[index] = true;
                  } else {
                    this.responses[index] = response.data;
                    this.isOkResponse[index] = false;

                  }*/

                  this.inprogress[index] = false;
                },
                error => {
                  if (error.response.status === 405) {
                    this.$store.dispatch('auth/logout');
                    this.$router.push('/login');
                  }
                  this.response =
                      [
                        {value: '', label: error.message, disabled: true}
                      ]
                  this.isOkResponse[index] = false;
                  this.inprogress[index] = false;
                },
            );
          } else if (type == 2) {
            //
            this.actionType = 2

            XmlService.CheckSchematron(formData).then(
                response => {

                  this.responseKeys[index] = Object.keys(response.data);
                  this.responseValues[index] = Object.values(response.data);
                  console.log(this.responseValues + "INDEX =====" + index)
                  this.res[index] = response.data;
                  /*if (response.data.includes('##OK##')) {
                           this.sources[index] = response.data.slice(6);
                           this.isOkResponse[index] = true;
                         } else {
                           this.responses[index] = response.data;
                           this.isOkResponse[index] = false;

                         }*/
                  this.inprogress[index] = false;
                },
                error => {
                  if (error.response.status === 405) {
                    this.$store.dispatch('auth/logout');
                    this.$router.push('/login');
                  }
                  console.warn(error)
                  this.response =
                      [
                        {value: '', label: error.message, disabled: true}
                      ]
                  this.isOkResponse[index] = false;
                  this.inprogress[index] = false;
                },
            );
          } else if (type === 3) { //SIGN

            XmlService.SignXml(formData).then(
                response => {
                  const url = window.URL.createObjectURL(new Blob([response.data]));
                  const link = document.createElement("a");
                  link.href = url;
                  link.setAttribute("download", "signed"+".xml");
                  document.body.appendChild(link);
                  link.click();
                  link.remove();
                },
                error => {

                  this.response = '';
                  this.err =error
                  this.isLoading = false;
                },
            )



          } else if (type === 4) {
            XmlService.CheckXml(formData).then(
                response => {
                  this.response = response;
                },
                error => {

                  this.response = '';
                  this.err =error
                  this.isLoading = false;
                },
            )


          }


        }

      }
    },
    sendEmail() {
      Array.from(this.items).forEach((file, index) => {
        this.inprogress[index] = true;
        const reader = new FileReader();
        reader.addEventListener('load', e => this.previews[index] = e.target.result);
        reader.readAsDataURL(file);

        const formData = new FormData();
        formData.append("file", file);

        if (this.previews[index]) {
          QueueService.SendEmail(formData).then(
              response => {
                if (response.data.includes('##OK##')) {
                  this.sources[index] = response.data.slice(6);
                  this.isOkResponse[index] = true;
                } else {
                  this.responses[index] = response.data;
                  this.isOkResponse[index] = false;

                }

                this.inprogress[index] = false;
              },
              error => {
                if(error.response.status===405){
                  this.$store.dispatch('auth/logout');
                  this.$router.push('/login');
                }
                this.response =
                    [
                      {value: '', label: error.message, disabled: true}
                    ]
                this.isOkResponse[index] = false;
                this.inprogress[index] = false;
              },
          );

        }

      });
    },

    async AddStartToCSV() {

      Array.from(this.items).forEach((file, index) => {
        this.inprogress[index] = true;
        const reader = new FileReader();
        reader.addEventListener('load', e => this.previews[index] = e.target.result);
        reader.readAsDataURL(file);

        const formData = new FormData();
        formData.append("file", file);

        if (this.previews[index]) {
          InvoiceService.AddStartToCSV(formData).then(
              response => {
                if (response.status >= 200 && response.status < 300) {
                  this.sources[index] = response.data;
                  this.isOkResponse[index] = true;
                } else {
                  this.responses[index] = response.data;
                  this.isOkResponse[index] = false;

                }

                this.inprogress[index] = false;
              },
              error => {
                if(error.response.status===405){
                  this.$store.dispatch('auth/logout');
                  this.$router.push('/login');
                }
                this.response =
                    [
                      {value: '', label: error.message, disabled: true}
                    ]
                this.isOkResponse[index] = false;
                this.inprogress[index] = false;
              },
          );

        }

      });

    },


    bytesToSize(bytes) {
      const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB']
      if (bytes === 0) return 'n/a'
      const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)), 10)
      if (i === 0) return `${bytes} ${sizes[i]})`
      return `${(bytes / (1024 ** i)).toFixed(1)} ${sizes[i]}`
    },





  }
}
</script>

<style scoped>
@import '@vueform/multiselect/themes/default.css';

 .btn.selected{
   color: #fff;
   background-color: #3c4044;
   border-color: #565e64;
 }

</style>