
<template>


  <div class="spinner-grow spinner  " v-bind:style="[isLoading?{ 'display': 'block'  } : { 'display': 'none' }]"  role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
  <div>

    <split-view direction="horizontal">
      <template #A >
        <div class="toolbar">
          <div class="start">
            <span class="title">{{ this.item.name }}</span>
          </div>
          <div  class="center">
            <div   class=" input-group  ">
              <div class="search" style="display: inline; background: #2e3234;padding: 8px 10px 0px 10px;">
                <font-awesome-icon  icon="magnifying-glass"></font-awesome-icon>
              </div>
              <input type="text" v-model="this.searchText"  @change="handleSearchChange" class="form-control input-css shadow-none" placeholder="Aradığın Nedir?" aria-label="Username" aria-describedby="basic-addon1">
              <div>
                <button v-if="this.findlines.length>0" type="submit" @click="searchContent(1)" class="btn btn-secondary"><span>Search</span> <small>{{this.searchIndex}}/{{this.findlines.length}}</small></button>
                <button v-else type="submit" @click="searchContent(1)" class="btn btn-secondary">Search</button>
              </div>
            </div>
          </div>



          <div class="end">
            <div class="icon"   ref="select-xml" @click="openFilePicker"  >
              <font-awesome-icon icon="folder-open"></font-awesome-icon>
            </div>
            <div    class="icon" @click="UpdateXslt">
              <font-awesome-icon :disabled="notYetLoaded" icon="rotate"></font-awesome-icon>
            </div>
            <div    class="icon" @click="exportAll">
              <font-awesome-icon :disabled="notYetLoaded" icon="download"></font-awesome-icon>
            </div>


          </div>

        </div>

        <v-ace-editor
                      v-model:value="this.xmlString"
                      @change="handleEditorChange"
                      ref="editor"
                      :key="this.fileKey"
                      @init="editorInit"
                      lang="html"
                      theme="monokai"
                      :showSearchBox="true"
                      :search-enabled="true"
                      :options="{
        useWorker: false,
        enableBasicAutocompletion: true,
        enableSnippets: true,
        enableLiveAutocompletion: true,
         searchBox: true,

      }"
                      style="font-size:15px; height: 100vh; width: 100%; max-height: calc(100vh - 120px);" />

      </template>

      <template #B>
        <embed :src="pdfSource" :key="pdfKey" type="application/pdf" style="height: 100vh; width: 100%; max-height: calc(100vh - 70px);" />

      </template>

    </split-view>

    <input type="file" ref="txtfile" style="display: none" accept=".xml" @change="handleFileChange" />
  </div>



</template>

<script>


import {VAceEditor} from 'vue3-ace-editor';
import SplitView from '../Configs/SplitView.vue';

import '../Configs/ace-config.ts';
import 'ace-builds/src-noconflict/theme-chrome';
import InvoiceService from "@/services/invoiceService";
import XmlService from "@/services/xml-service";



export default {
  name: "XsltEditor",

  data() {
    return {


      isLoading: false,
      notYetLoaded : true,
      item : '',
      pdfSource : '',
      pdfKey: 0,
      exportKey: 1,
      posList: [],
      lastVisitedIndex: '',
      editor: null,
      searchText: '',
      findlines: [],
      searchIndex: 0,
      items:[],
      xmlString: '',
      fileKey : '',
      activeLine: 0,







    }


  },
  created() {


  },

  unmounted() {

  },

  mounted() {
    window.addEventListener('keydown', this.handleKeyDown);
    window.addEventListener('beforeunload', this.handleBeforeUnload);
    this.$refs.txtfile.addEventListener('change', this.handleFileChange);


  /*  const myModalEl = document.getElementById('exampleModal')
    myModalEl.addEventListener('hidden.bs.modal', function () {

    })*/
  /*  myModalEl.addEventListener('show.bs.modal', function () {

    })*/
  },
  beforeUnmount() {
    window.removeEventListener('keydown', this.handleKeyDown);
     window.removeEventListener('beforeunload', this.handleBeforeUnload);
    this.$refs.txtfile.removeEventListener('change', this.handleFileChange);
  },

  beforeRouteLeave(to, from, next) {
    if (this.posList.length>0) {
      // Kullanıcıya bir onay iste
      if (confirm('Değişiklikleri kaydetmeden çıkmak istediğinizden emin misiniz?')) {
        next(); // Sayfa değişikliğine izin ver
      } else {
        next(false); // Sayfa değişikliğini engelle
      }
    } else {
      next(); // Sayfa değişikliğine izin ver
    }
  },



  methods:{

    openFilePicker() {
      this.$refs.txtfile.click();
    },


    handleFileChange(e) {




      function byteToSize(bytes) {

        const sizes = ['Bytes', 'KB', 'MB', 'GB', 'TB']
        if (bytes === 0) return 'n/a'
        const i = parseInt(Math.floor(Math.log(bytes) / Math.log(1024)), 10)
        if (i === 0) return ` - ${bytes} ${sizes[i]}`
        return `${(bytes / (1024 ** i)).toFixed(1)} ${sizes[i]}`
      }
      // Whenever the file changes, emit the 'input' event with the file data.
      if (e.target.files.length > 0) {
        Object.assign(this.$data, this.$options.data.call(this));
        this.items = e.target.files
        let size =   byteToSize(this.items[0].size)
        this.fld = "  "+ " Dosya Seçildi: " + this.items[0].name + " " + size ;
        this.$emit('input', e.target.files.length)

        this.notYetLoaded= false;

        this.resetData();
        this.getXsltFromXml();

      }





    },


    resetData(){


      this.pdfSource = '';
      this.pdfKey = 0;
      this.exportKey= 1;
      this.posList= [];
      this.lastVisitedIndex= '';
      this.searchText='';
      this.findlines= [];
    },

    handleSearchChange(){
      this.searchIndex = 0;
    },

    searchContent(dir){


      if(this.searchText!=''){
        this.findlines =  this.findLinesOfWord(this.xmlString,this.searchText)
        if (this.findlines.length < 1) return;

        if(dir===1){//next

          if (this.searchIndex < this.findlines.length) {

           // console.log(this.findlines[this.searchIndex]);
            this.jumpToLine( this.findlines[this.searchIndex])
            this.searchIndex++;
          }else{
            this.searchIndex=0
            this.jumpToLine( this.findlines[this.searchIndex])
            this.searchIndex++;

          }

        }
      }


      else if (dir ===0){//previous arama tarzı değitiği için kullanılmıyor

        if (this.searchIndex > 0) {
          this.searchIndex--;
          //console.log(this.findlines[this.searchIndex]);
          this.jumpToLine( this.findlines[this.searchIndex])
        }
      }
    },

    editorInit(editor) {
      this.editor = editor;

    },

    jumpToLine(line) {

      if (this.editor) {
         this.editor.gotoLine(line, 5, true); // Satıra atlamak için gotoLine() yöntemini kullanın

        //this.editor.scrollToLine(line, true, true); // Satıra atlamak için gotoLine() yöntemini kullanın

      }
    },

    handleKeyDown(event) {
      if (event.ctrlKey && event.key === 'q') {



        event.preventDefault();
        this.handleShortcut();
      }

    },
    handleFindShortcut() {
      if(!this.notYetLoaded){
///
      }
      document.getElementById('showModalBtn').click();

    },
    handleShortcut() {
      let newPos;
      if(this.posList[0]!= undefined){
         newPos = this.posList[0];
      }else{
        newPos = 0;
      }


     // let currentPos =   this.getScrollPosition();
      if (this.editor) {
        const currentLine = this.editor.getSession().selection.getCursor().row;

        const index = this.posList.findIndex(item => item === currentLine+1);
        if (index !== -1) {
          //console.log(`Değerin indexi: ${index}`);
          if(this.posList.length-1>index){//sonrakine git
            newPos = this.posList[index+1];
          }

          this.jumpToLine(newPos)

          //this.setScrollPosition(newPos)
        } else {
          // console.log("Değer bulunamadı");
          //this.setScrollPosition(newPos)
          this.jumpToLine(newPos)
        }

      }





    },

    handleEditorChange() {

      if (this.editor) {

          const cursor = this.editor.getSession().selection.getCursor();
        this.activeLine= cursor.row + 1;
        this.posList = this.posList.filter(item => {
          if (typeof item === 'number') {
            // newItem'a 200 birim artı veya eksi olan sayıları filtreler
            return Math.abs(item -  this.activeLine) > 40;
          } else {
            return true; // Diğer öğeleri geçerli tutar
          }
        });
        if( this.activeLine!==0){
          this.posList.push( this.activeLine);
        }

      }

    },

    handleBeforeUnload(event) {
      event.preventDefault();
      event.returnValue = '';
      return 'Sayfadan ayrılmak istediğinize emin misiniz?';
    },



    getXsltFromXml(){
      this.response = '';
      this.err = '';
      this.notFound = '';
      this.item = this.items[0];
      this.isLoading = true;
      const reader = new FileReader();
      reader.readAsDataURL(this.item);
      const formData = new FormData();
      formData.append("file", this.item);
      InvoiceService.getXsltFromXml(formData).then(
          response => {
            const reader = new FileReader();
            reader.onload = () => {
              this.xmlString = reader.result;
            };
            reader.readAsText(response.data);
            //TODO get pdf
            formData.append("type","ii")
            XmlService.SendXmlToServer(formData).then(
                response => {
                  // console.log(response)
                  if (response.status === 200) {
                    let link = ((this.on8081()) ? document.location.hostname+':8081' : document.location.hostname+':3000');
                    this.fileKey = response.data;
                    /*Vue.js uygulaması 3000 portunda çalışırken, tarayıcının 3000 portundan değil de
                    8081 portundan sunucuya istek göndermeye çalışıyor. Bunu çözmek için üstteki yöntem kullanıldı.*/
                    this.pdfSource = "http://"+link+"/output/"+ response.data;
                  } else {

                    this.response =
                        [
                          {value: '', label: response.statusText, disabled: true}
                        ]
                  }
                  this.isLoading = false;

                },
                error => {
                  this.isLoading = false;
                  console.log(error)
                },
            );
          },
          error => {

            this.response = error.message;
            this.xmlString = error.message;
            this.err =error
            this.isLoading = false;

          })

    },



    findLinesOfWord(text, word)  {
      // Metni satırlara ayırır
      const lines = text.split('\n');

      // Belirli kelimenin geçtiği satırları buluyor
      const matchedLines = lines.reduce(function(result, line, index) {
        if (line.includes(word)) {
          result.push(index + 1); // Satır numarası 1'den başladığı için +1 ekliyoruz
        }
        return result;
      }, []);


     // console.log('Kelimenin geçtiği satırlar: ' + matchedLines.join(', '));


      return matchedLines;

    },






    /* SetCheckPoint(){
       //console.log(this.getScrollPosition());
       const textToCopy = 'Bu metin clipboarda kopyalanacak';
       this.copyTextToClipboard(textToCopy);
       this.pasteTextToDocument();





     },*/

    getScrollPosition(){
      const scrollbar = document.querySelector('.ace_scrollbar');
      return scrollbar.scrollTop
    },
    setScrollPosition(pos){
      const scrollbar = document.querySelector('.ace_scrollbar');
      scrollbar.scrollTop = pos;

    },

    async copyTextToClipboard(text) {
      try {
        await navigator.clipboard.writeText(text);
        // console.log('Metin clipboard\'a kopyalandı: ', text);
      } catch (error) {
        // console.error('Metin kopyalama işlemi başarısız: ', error);
      }
    },

    /*async pasteTextToDocument() {
      navigator.clipboard.readText().then(pastedText => {
      //  console.log(pastedText); // Yapıştırılan metni konsola yazdırın
      }).catch(error => {
      //  console.log('Metin yapıştırma işlemi gerçekleştirilemedi:', error);
      });
    },*/


    UpdateXslt(){

      if(this.notYetLoaded)
        return;

      this.isLoading = true;
      const formData = new FormData();
      formData.append("file", this.item);
      formData.append("xslt",this.xmlString)
      InvoiceService.updateXslt(formData).then(
          response => {

            if (response.status === 200) {
              this.isLoading = false;
              this.pdfKey += 1;

              // let link = ((this.on8081()) ? 'http://localhost:8081' : 'http://localhost:3000');
              /*Vue.js uygulaması 3000 portunda çalışırken, tarayıcının 3000 portundan değil de
              8081 portundan sunucuya istek göndermeye çalışıyor. Bunu çözmek için üstteki yöntem kullanıldı.*/
              // this.pdfSource = link+"/output/"+ response.data;
            } else {
              this.pdfSource = "Error pdf"
            }


          },
          error => {
            if(error.response.status===405){
              this.$store.dispatch('auth/logout');
              this.$router.push('/login');
            }
            this.response = '';
            this.err =error
            this.isLoading = false;

          })


    },

    exportAll(){

      if(this.notYetLoaded)
        return;

      this.isLoading = true;
      const formData = new FormData();
      formData.append("file", this.item);
      formData.append("xslt",this.xmlString)
      InvoiceService.exportXsltRelatedData(formData).then(
          response => {

            if (response.status === 200) {
              this.isLoading = false;
              const url = window.URL.createObjectURL(new Blob([response.data]));
              const link = document.createElement("a");
              link.href = url;
              const name =  this.item.name.split('.').slice(0, -1).join('.')
              link.setAttribute("download", name+"-V"+this.exportKey+".zip");
              document.body.appendChild(link);
              link.click();
              link.remove();
              this.err = '';
              this.isLoading = false;
              this.fld = ''
              if(response.headers["access-control"]!==""){
                this.notFound = response.headers["access-control"];
              }
              this.exportKey++;

            } else {
              this.pdfSource = "Error pdf"
            }


          },
          error => {
            if(error.response.status===405){
              this.$store.dispatch('auth/logout');
              this.$router.push('/login');
            }
            this.response = '';
            this.err =error
            this.isLoading = false;

          }
      )




    },

    on8081() {
      return document.location.port !== '3000';

    },

  },


  components: {
    VAceEditor,SplitView
  },

}
</script>



<style scoped>

.toolbar {
  align-items: center;
  background-color: #323639;
  color: #fff;
  display: flex;
  height: 56px;
  padding: 0 16px;
}

.start{
  flex: 1;
  align-items: center;
  display: flex;
  overflow: hidden;
  padding-inline-end: 20px;
}

.center{
  align-items: center;
  display: flex;
  flex: 1;
}
.end{
  flex: 1;
  display: flex;
  justify-content: flex-end;
  padding-inline-start: 20px;
  text-align: end;
  white-space: nowrap;
}
.input-css{
  background: #2e3234;
  outline: none;
  border: none;
  color: #d2d2d2;
}
.icon{
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #323639;
  transition: background-color 0.2s;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.icon:hover {
  background-color: #4f5356; /* Fare üzerine gelindiğinde arka plan rengini değiştirir */
}

.title{
  font-size: .87rem;
  font-weight: 500;
  margin-inline-start: 16px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
input:focus{
  outline: none;
}



.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
  text-align: center;

}

.dark .footer{
  background: #282828;
}

.ace_content{
  font-size: 15px!important;
}
.dark .spinner {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-light-rgb), var(--bs-text-opacity)) !important;
}
.spinner {
  --bs-text-opacity: 1;
  color: rgba(var(--bs-dark-rgb), var(--bs-text-opacity)) !important;
  position: absolute;
  left: 50%;
  top: 49%;
  z-index: 100;
}
small{
  font-size: 10px!important;
}
</style>