<template>

  <div class="app" :class="mode">

    <Sidebar :class="mode" v-if="currentUser" class="mslider nav-shadow d-print-none"/>
    <Header :class="mode" :mode="mode" @toggle="toggle" class="sticky-header d-print-none"></Header>
    <div style="padding-top: 60px">

    </div>
    <div style="margin-left: 10px">
      <div style="margin-right: 30px"
           v-bind:style="[currentUser?{ 'margin-left': sidebarWidth  } : { 'margin-left': 0 }]">


        <router-view></router-view>
      </div>

    </div>
  </div>

</template>

<script>

import Sidebar from '@/components/SideBar/SideBar'
import Header from '@/components/Header'

import {collapsed, toggleSidebar, sidebarWidth} from '@/components/SideBar/state'
import UserService from "@/services/user.service";


let isdark = '';
export default {

  components: {Sidebar, Header},
  setup() {
    return {sidebarWidth, collapsed, toggleSidebar}
  },

  data() {
    isdark = 'dark'; //Light mode kapatildi gereksiz
       /* localStorage.getItem('darkMode')*/
    return {
      mode: '',


    }
  },


  created() {



    UserService.CheckToken().then(
        response => {
          this.content = response.data;
        },
        error => {
          if(error.response.status===401){
            this.$store.dispatch('auth/logout');
            this.$router.push('/login');
          }
        }
    );


    window.addEventListener('keyup', this.keyPress)
    if (isdark !== 'undefined') {
      this.mode = isdark;

    } else {
      /*if (this.currentUser) {
        this.mode = this.currentUser.darkmode
        console.log('mode:' + this.currentUser.darkmode)
      }*/
      this.mode = isdark;
    }
  },
  methods: {



    getContentStyle() {

      return {
        'padding-top': `${this.getHeaderHeight()}px`,
      };
    },
    getHeaderHeight() {

      const header = document.querySelector('.sticky-header');
      if (header) {

        return header.offsetHeight;
      }
      console.log("header not found: " )
      return 0;
    },

    toggle() {

      if (this.mode === "dark") {

        this.mode = "dark"

      } else {

        this.mode = "dark"

      }
      localStorage.setItem('darkMode', this.mode)

      this.$store.state.auth.user.darkmode = this.mode;

      UserService.ModifyUser({darkmode: this.mode}).then(
          response => {
            this.options = response.data;
          },
          error => {
            if(error.response.status===405){
              this.$store.dispatch('auth/logout');
              this.$router.push('/login');
            }
            this.options =
                [
                  {value: '', label: error.message, disabled: true}
                ]
          }
      );


    },



    /*  logOut() {
        this.$store.dispatch('auth/logout');
        this.$router.push('/login');
      }*/
  },
  computed: {
    currentRouteName() {
      return this.$route.name;
    },
    currentUser() {
      return this.$store.state.auth.user;
    },
    showAdminBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_ADMIN');
      }
      return false;
    },
    showModeratorBoard() {
      if (this.currentUser && this.currentUser.roles) {
        return this.currentUser.roles.includes('ROLE_MODERATOR');
      }
      return false;
    },


  },
};

</script>
<style>
.sticky-header{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
:root {
  --sidebar-bg-color: #f3f3f3;
  --sidebar-item-hover: #e7e7e7;
  --sidebar-item-active: #e1e1e1!important;
  --sidebar-bg-color-dark: #242425;
  --sidebar-item-hover-dark: #383b3e;
  --sidebar-item-active-dark: rgb(51 51 54);
}

.app {
  /*width: 100vw;*/
  min-height: 100vh;
  background: #F3F3F3;
  color: #15202B;
  transition: background 0.3s ease-in-out;
}

.dark {
  background: #1e1e1e;
  color: rgb(196 197 199);
}

body {
  /*background: url('@/assets/vuebg.jpg') no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
}

.form-group {
  padding: 5px 0 5px 0;
}

.input-group-mtext {
  display: block;
  align-items: center;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  white-space: nowrap;
  background-color: #e9ecef;

}

.card {
  padding: 20px;
   background-color: #f7f7f7;
}
.dark .card {
  padding: 20px;
  background-color: #242424;
}

.header-container {
  text-align: center;
  margin-bottom: 20px;
}

.header-container i {
  font-size: 80px;
}

.card-link {
  text-align: center;
  margin-top: 10px;
  color: rgba(0, 0, 0, 0.55);
  text-decoration: none;
}

.card-link:hover {
  color: rgba(0, 0, 0, 0.7);
}

.card-body {
  text-align: -webkit-center;
  text-align: -moz-center;
}

.login-page {
  width: 450px;
}

.accordion-button {
  /*  color: #000000!important;
    background-color: var(--sidebar-bg-color)!important;*/

}

.accordion-item {
  border: none !important;

  /*color: #000000!important;
  background-color: var(--sidebar-bg-color)!important;*/

}



.accordion-button-custom {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 1rem 1.25rem;
  font-size: 1rem;
  text-align: left;
  border: 0;
  border-radius: 0;
  overflow-anchor: none;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, border-radius 0.15s ease;
}



.collapse-icon {
  position: absolute;
  right: -12px;
  color: rgba(255, 255, 255, 0.7);
  transition: 0.2s linear;
  margin: 0;
  top: 50%;
  -ms-transform: translateY(0%);
  transform: translateY(0%);
  text-align: center;
}

.nav-shadow {
  box-shadow: 1px 1px 1px 1px rgb(0 0 0 / 10%) !important;

}

.logo {
  padding: 3px 3px 2px 14px;
  margin: 4px 0 0 0;
  height: 30px
}

.withe {
  background-color: #FFFFFF !important;
}

.mborder {
  border: var(--ms-border-width, 2px) solid var(--ms-border-color, #d1d5db);

}

.dark nav {
  background: #242425;
  color: #9ca3af;
}

.dark nav a {

  color: #9ca3af;
}

.dark .accordion-button-custom {
  background: #383b3e;
}

.dark.sidebar {
  background: #242425;
  color: #9ca3af;
}

.dark.sidebar a {
  color: #9ca3af;
}

a {
  color: #1c1a1a;
}

a:hover {
  color: #1c1a1a;
}

nav h1 {
  font-size: 32px;
  text-transform: uppercase;
  font-weight: 900;
}

nav {
  display: flex;
  height: 60px;
}

nav .nav-link {
  display: flex;
  align-items: center;
  padding: 0px 15px;
  color: #202121;
}

.dark nav .nav-link {
  color: #9ca3af !important;
}

.dark .modal input {
  background: #383b3e;
  color: #B0B0B0 !important;
}

.dark ul .list-group-item {
  background: #383b3e;
  color: #B0B0B0 !important;
}

ul .list-group-item {
  background: #ebebeb;
  color: #4c4c4c !important;
}

.dark .modal .modal-content {
  background: #383b3e;
  color: #B0B0B0 !important;
}

.dark .multiselect-option {
  background: #2b2e30 !important;
  color: #e3e3e3 !important;
  border: azure!important;
}

.dark .multiselect-option.is-selected {
  background: #0a543a !important;
  color: #f3efef !important;
}
.dark .multiselect{

  border: solid #1e1e1e;
  background: #242425;
}
.dark .multiselect-tags-search{


  background: #242425;
  color: white;
}


.right {
   float: right;

  margin-top: 5px;
 }

.left {
  float: left;
  margin-top: 5px;

}

.multiselect.is-active{

}

.dark .multiselect-option:hover {
  background: #363636;
  color: #b0b0b0 !important;
}

.dark .modal input {
  background: #383b3e;
  color: #B0B0B0 !important;
  border-color: #4d4d4d;
}

.dark .modal .modal-header, .dark .modal .modal-footer {

  border-color: #4d4d4d;
}

.dark .modal .multiselect {
  border-radius: 6px;
  border-color: #4d4d4d;
  background:#383b3e ;
}
.dark .modal textarea {
  border-radius: 6px;
  border-color: #4d4d4d;
  background:#383b3e ;
  color: #B0B0B0 !important;
}
div.multiselect-dropdown{
/*  overflow: hidden;*/
}

.dark .modal {
  border-bottom: #24292e;
}

nav .nav-link:hover {
  color: #101520 !important;
}

.dark nav .nav-link:hover {
  color: #B0B0B0 !important;
}

.dark.sidebar .dot {
  background-color: #141414;
}

.dark.sidebar .toggle-sidebar {
  color: #9ca3af;
}

.warning-label {
  color: #d5ae20;
  font-size: 10px;
}

.success-label {
  background: green;
  color: whitesmoke;
}

.error-label {
  background: darkred;
  color: whitesmoke;
}

.link-label {
  color: whitesmoke;
  font-size: 12px;
  font-style: italic;
}


.link {
  display: flex;
  align-items: center;
  cursor: pointer;
  position: relative;
  font-weight: 400;
  user-select: none;
  margin: 0.1em 0;
  padding: 0.7em;
  border-radius: 0.25em;
  height: 1.5em;

  text-decoration: none;
  box-sizing: unset;
  font-size: 14px;

}

.link:hover {
  background-color: var(--sidebar-item-hover);
}

.link.active {
  background-color: var(--sidebar-item-active);
  box-sizing: unset;

}

.link .icon {
  flex-shrink: 0;
  width: 25px;
  margin-right: 10px;
}


.dark .link {

  background-color: var(--sidebar-bg-color-dark);
  box-sizing: unset;
}



.dark .link:hover {
  background-color: var(--sidebar-item-hover-dark);
}

.dark .link.active {
  background-color: var(--sidebar-item-active-dark);
  box-sizing: unset;
}


.accordion-button:focus {

  box-shadow: 0 0 0 0 !important;
}

.accordion-body {
  padding: 1rem 0.25rem !important;
}

.nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.mbtn{
  font-family: monospace !important; display: block; margin: 0 auto;  text-align: center
}
.dark .multiselect-search{
  background: #242425 !important;
  color: #e6e6e6 !important;
  border: none!important;
}

.dark .modal .multiselect-search{
  background: #383b3e!important;
  border: none!important;

}

.dark .modal .multiselect-wrapper{
  background: #383b3e!important;
  border: var(--bs-border-width) solid var(--bs-border-color)!important;
  border-color: #4d4d4d!important;
}

.caret-down {

  margin-top: -10px!important;
}
.sort-icons{
  position: absolute; top: 5px; right: 0;
}
.sort-th{
  position: relative;
}

.active-cert{
  background-color: #ffffff!important;
}

</style>